@import "../config/base-import";
@import "../config/themes/twg";

@include login ($bg-img, $bg-accent, $color-contrast, $color-accent, $bg-body);
@include theme-structure($bg-body, $bg-accent, $color-contrast, $color-accent);

@include override-headings;
@include override-calendar-theme;

.message-container {
  color: $color-red;

  &.permanent-messages {
    @include contentbox;
    color: $color-accent;
  }
}

// Theme Manage
.nav-plus {
  .nav-collapse {
    .nav-trigger {
      background-color: $color-accent;
      &:hover {
        background-color: darken($color-accent, 5%);
      }
      .line {
        background-color: $color-contrast;
      }
    }
  }

  .menu ul {
    .mi {
      border-bottom: 1px solid $bg-body;
      .menuitemlabel {
        color: $color-accent;
        &:hover {
          color: lighten($color-accent, 5%);
        }
      }

      &.mi-active,
      .menuitemlabel:hover {
        .mil {
          border-bottom: 1px solid $color-accent;
        }
      }
    }
  }
}


// Action clickables
.header-actions,
.footer-actions,
.prop-header-actions,
.prop-footer-actions {
  a {
    @include button-base($color-accent, $bg-body, $color-contrast);
  }
}

// Add - clickables specific to the management/search pages
a[title="Add Engagement"],
a[title="Add User"]{
  @include button-base($color-accent, $bg-body, $color-contrast);
}

// Content box styles
.search-bar,
.section {
  @include contentbox;
}


// Search bar styles
.search {

  .pager-top,
  .pager-bottom {

    .controls {
      a {
        @include button-base($color-accent, $bg-body, $color-contrast, $padding: 5px 10px);
      }
    }
  }
}

@include breakpoint($bp-mobile-landscape) {
  .search {

    .pager-top,
    .pager-bottom {

      .controls {

        a {
          @include button-base($bg-accent, $bg-body, $color-accent, $size: 12px, $padding: 5px 10px);
        }

        .selected-page {
          @include button-base($color-accent, $bg-body, $color-contrast, $size: 12px, $padding: 5px 10px);
        }
      }
    }
  }
}


// Section Styles
.section-header {
  a {
    @include button-base($color-accent, $bg-body, $color-contrast);
  }
}

.sub-section {
  &-header {
    @include h3;
  }
}

