//TODO remove .section after remove the display inline and text transform from manage template

.section {
    padding: 0;

    .section-header,
    .prop-header {
        border-bottom: 1px solid $color-grey-e2;
        padding: 10px 25px;
        background-color: $color-grey-f2;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $font-open-sans-bold;

        .section-header-actions {
            > .expand-all,
            > .collapse-all {
                display: block;
                width: 100%;
                position: relative;
                top: auto;
                right: auto;

                + .expand-all,
                + .collapse-all {
                    margin-top: 5px;
                }
            }
        }
    }

    .section-header-actions {
        .btn {
            vertical-align: top;
        }
    }

    .section-content,
    .section-header + div,
    .prop-header + div {
        padding: 5px 25px 15px;
    }

    &.media {
        .section-content {
            @include clearfix();
        }
    }

    .sub-section-header {
        margin-left: 0;

        .sub-section-heading {
            margin: 13px 0 5px;
            display: block;
        }

        .metric-set-value-count {
            margin-left: 35px;
            display: block;

            &:before {
                display: inline-block;
                vertical-align: middle;
                color: $color-grey-e2;
                content: $html-entity-success;
                font-size: 20px;
                font-family: $font-glyph-lib;
                margin-right: 15px;
            }
        }

        .metric-value-bar {
            display: inline-block;
            width: 45%;
            background-color: $color-grey-cc;
            height: 8px;
            margin-right: 5px;
            border-top: 1px solid $color-grey-aa;
            border-radius: 2px;
            vertical-align: middle;
            overflow: hidden;
            position: relative;
            box-shadow: 0 1px 1px transparentize($color-black, 0.9) inset;
        }

        .metric-value-bar-progress {
            background-color: $color--theme-accent;
            height: 100%;
            display: block;
        }

        .metric-value-percent {
            display: inline-block;
            vertical-align: middle;
            font-family: $font-open-sans-bold;
            width: 38px;
            color: $color-grey-55;

            &:after {
                content: "%";
                font-size: 10px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .sub-section {
        position: relative;
        overflow: hidden;
        padding-top: 10px;

        &.complete {
            .metric-set-value-count {
                &:before {
                    color: $app--message-success-glyph-color;
                }
            }
        }

        .header-actions {
            position: absolute;
            right: 0;
            top: 8px;
        }


        > .miwt-collapsable {
            &.shown {
                padding: 10px 0;
                margin-top: 10px;
                margin-bottom: 15px;
            }

            &.hidden {

            }
        }
    }

    @include breakpoint($bp-mobile-only) {
        .sub-section {
            button.btn.trigger {
                height: 30px;
                width: 30px;
                top: 8px;
            }
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .sub-section-header {
            display: inline-block;
            vertical-align: middle;

            .sub-section-heading {
                margin: 0 0 0 10px;
                display: inline-block;
            }

            .metric-set-value-count {
                margin-left: 25px;
                display: inline-block;
                vertical-align: bottom;
            }

            .metric-value-bar {
                width: 50px;
            }
        }

        .sub-section {
            .header-actions {
                position: relative;
                right: auto;
                top: -2px;
                display: inline-block;
                float: right;
            }

            .prop-footer-actions {
                position: absolute;
                right: 0;
            }

            button.btn.trigger {
                top: 13px;
            }

            > .miwt-collapsable {
                &.shown {
                    padding: 10px 5px;
                }
            }
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .sub-section {
            .prop-footer .actions {
                margin-top: -10px;
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        .section-header {
            .section-header-actions {
                > .expand-all,
                > .collapse-all {
                    display: inline-block;
                    width: auto;

                    + .expand-all,
                    + .collapse-all {
                        margin-top: 0;
                        margin-left: 5px;
                    }
                }
            }
        }

        .section-header-actions {
            float: right;
            margin-left: 10px;
        }
    }
}
