@mixin fontFace($font-name, $file-path, $file-name) {
  $font-file-path: $font-path + $file-path + '/' + $file-name;

  @font-face {
    font-family: $font-name;
    src: url($font-file-path + '.eot');
    src: url($font-file-path + '.eot?#iefix') format('embedded-opentype'),
      //url($font-file-path + '.woff2') format('woff2'),
    url($font-file-path + '.woff') format('woff'),
    url($font-file-path + '.ttf') format('truetype');
    //url($font-file-path + '.svg#' + $font-name) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin clearfix($include-before: false) {
  @if ($include-before) {
    &:before {
      content: "";
      display: table;
    }
  }
  &:after {
    content:"";
    display: table;
    clear: both;
  }
}