@if($show-goals != true)
{
  .view-engagement .section.goals {
    display: none;
  }
}

.goals {
    margin-top: 0;
}

.activity-name,
.activity-duration,
.activity-planned-duration {
    margin-bottom: 40px;
}