
.media-manager {
	float: left;
	position: relative;

	& + & {
		margin-top: 40px;
	}
}

.media-manager-heading {
	font-family: $font-open-sans-bold;
	font-size: 16px;
}

.media-manager-count {
	background-color: $color-grey-55;
	color: $color-white;
	padding: 1px 4px;
	font-size: 13px;
	border-radius: 2px;
	margin-left: 5px;
}

.media-manager-previewer {
	background-color: $color-grey-e7;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	position: relative;
	margin: 10px 0;
	border: 1px solid $color-grey-dd;
}

.media-manager-actions {
	position: absolute;
	right: 0;
	top: 0;
}

.media-manager-size {
	display: block;
	font-size: 11px;
	font-family: $font-open-sans;
}

.picture-manager {
	.media-manager-preview {
		padding: 5px 5px 18px;
		background-color: $color-white;
		border: 1px solid $color-grey-aa;
		position: absolute;
		box-shadow: 1px 1px 5px transparentize($color-black, 0.6);
		top: 50%;
		left: 50%;
		margin-left: -60px;
		margin-top: -60px;

		&:first-child {
			transform: rotate(-10deg);
		}

		&:nth-child(2) {
			transform: rotate(0deg);
		}

		&:nth-child(3) {
			transform: translate(13px, -1px) rotate(8deg);
		}

		&:nth-child(4) {
			transform: translate(25px, 7px) rotate(16deg);
		}
	}

	.media-manager-preview-render {
		width: 100px;
		height: 100px;
		background-size: cover;
		background-position: center center;
	}
}

.video-manager {
	.media-manager-previewer {
		&:before {
			@include glyphAdd($html-entity-video-library, 60px, $color-grey-aa);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}