h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

a {
	color: $app--link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@include text-like-inputs {
	@include input;

	&:focus {
		background-color: $app--input-focus-bg-color;
		outline-color: $app--input-outline-color;
	}
}