//Calendar trigger button
.miwt-form {
	.cal {
		button {
			@include style-button-base;
		}

		button.clear {
			display: none;
		}
		button.open,
		input[type="text"] {
			display: table-cell;
			vertical-align: middle;
			width: auto;
		}

		button.open {
			background-image: url(/_resources/dyn/files/25637z863b9862/_fn/calendar.png);
			background-repeat: no-repeat;
			background-position: center center;
			overflow: hidden;
			//text-indent: 4000em;
			font-size: 0;
			height: 30px;
			width: 36px;
		}
	}
}

// Calendar Popup

body > .calendar {
	background-color: $app--cal-bg-color;
	border: 1px solid $color-grey-e7;
	box-shadow: 3px 3px 10px transparentize($color-black, 0.55);

	td {
		text-align: center;
	}

	thead td.button,
	.daynames td,
	tbody td {
		cursor: pointer;
	}

	thead td.wn,
	tbody td.wn {
		cursor: default;
	}

	thead {
		tr {
			&:first-child {
				td {
					background-color: $app--cal-heading-bg-color;
					color: $app--cal-heading-text-color;
					padding: 8px 10px;
					font-family: $font-open-sans-bold;
					font-size: 16px
				}
			}
		}

		td {
			background-color: $app--cal-heading-bg-color;
			color: $app--cal-heading-text-color;
			padding: 5px 10px;

			&.button {
				&:hover {
					background-color: darken($app--cal-heading-bg-color, 10%);
				}
			}
		}
	}

	.daynames {
		td {
			&.name {
				font-family: $font-open-sans-semi-bold;
				text-transform: uppercase;
				color: $app--cal-daynames-text-color;
				padding: 5px;
				font-size: 10px;
				background-color: $app--cal-daynames-bg-color;
				border-bottom: 1px solid $color-grey-dd;
			}

			&.day {
				&:hover {
					background-color: darken($app--cal-daynames-bg-color, 10%);
				}
			}

			&.wn {
				border-right: 1px solid $color-grey-dd;
			}
		}
	}

	.daysrow {
		td {
			padding: 6px 8px;

			&.wn {
				background-color: $app--cal-weeknum-bg-color;
				border-right: 1px solid $color-grey-e7;
				color: $app--cal-weeknum-text-color;
			}

			&.othermonth {
				color: $app--cal-othermonth-bg-color;
			}

			&.hilite {
				background-color: $app--cal-hilite-bg-color;
				color: $app--cal-hilite-text-color;
			}

			&.today {
				background-color: $app--cal-today-bg-color;
				color: $app--cal-today-text-color;

				&:hover {
					background-color: darken($app--cal-today-bg-color, 10%);
				}
			}

			&.selected {
				background-color: $app--cal-selected-bg-color;
				color: $app--cal-selected-text-color;

				&:hover {
					background-color: lighten($app--cal-selected-bg-color, 5%);
				}
			}
		}
	}

	.footrow {
		.ttip {
			padding: 8px;
			border-top: 1px solid $color-grey-dd;
		}
	}

	> .combo {
		width: 255px;
		border-top: 1px solid $color-grey-dd;
		display: none;

		.label {
			//have to have import for inline style issues
			display: inline-block !important;
			width: 25%;
			padding: 5px 10px;
			text-align: center;
			cursor: pointer;

			&.hilite {
				background-color: $app--cal-hilite-bg-color;
				color: $app--cal-hilite-text-color;
			}
		}
	}
}

