.message-container {
	margin: 15px 0;
	text-align: left;

	&.empty {
		display: none;
	}

	& + & {
		margin-top: -10px;
	}

	.message {
		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

.message {
	@include style-message-base;

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

	&.error {
		@include style-message-error-override;
	}

	&.info {
		@include style-message-info-override;
	}

	&.important {
		@include style-message-important-override;
	}

	&.success {
		@include style-message-success-override;
	}
}