@import "../../config/themes/_standard";
@import "../../config/_base-import";

@import "../_definitions/_page--survey";

.wizard_category_navigator,
.wizard_procedure_step_header {
    display: none;
}

span.label {
    font-size: 18px;
}

.extra_value_renderer {
    margin-left: 1.5em;
}