@import "../../config/themes/_standard";
@import "../../config/_base-import";

@import "../_definitions/_page--survey-results";

.back {
    font-family: $font-open-sans-bold;
    text-transform: uppercase;
    
    a {
        display: inline-block;

        &:before {
            color: $color--theme-accent;
            content: "<<";
            margin-right: 5px;
            display: inline-block;
        }
    }
}