@import "../../config/themes/_standard";
@import "../../config/_base-import";

@import "../_definitions/_page--engagement-edit";

a[title="Take Survey"] {
  @include style-button-base();
}

.btn-delete {
  padding: 5px 10px;

  &:before {
    display: none;
  }
}

.btn-edit {
  padding: 10px;

  @include breakpoint($bp-tablets-portrait) {
    padding: 5px;
  }
}

