@include fontFace('OpenSans', '/OpenSans', 'opensans-regular-webfont');
@include fontFace('OpenSansBold', '/OpenSans', 'opensans-bold-webfont');
@include fontFace('OpenSansSemiBold', '/OpenSans', 'opensans-semibold-webfont');
@include fontFace('GlyphLib', '/glyph-lib', 'glyph-font');

@import "../../libs/normalize";

@import "../../components/partials/_base-components";
@import "../../components/partials/_messages";
@import "../../components/partials/_buttons";


html, body, div.page {
	height: 100%;
}

body {
	font-family: $app--base-font-family;
	font-size: $app--base-font-size;
	color: $app--body-text-color;
}

.e-wrapper {
	position: relative;
	min-height: 100.0%;
	background: repeat-x center bottom 50px $landing--bg-color;
	background-image: $landing--bg-image;
}

.e-content {
	width: 320px;
	margin: 0 auto;
	padding-bottom: $app--footer-height;
}

.l-header {
	padding-top: 50px;
	text-align: center;
}

.l-footer {
	height: $app--footer-height;
	margin-top: -$app--footer-height;
	text-align: center;
	color: $app--footer-text-color;
	@include clearfix(true);

	&:empty {
		display: none;
	}
}

input {
	width: 100%;
}

.login {
	.title,
	label {
		display: none;
	}

	.fields {
		margin-top: 15px;
	}

	.field {
		margin: 10px 0;

		input {
			padding: 15px;
			text-align: center;
		}
	}

	.password-rules {
		@include style-message-base;
		@include style-message-important-override;
	}

	.btn {
		@include style-button-override($font-size: 16px, $padding: 10px 15px);
	}

	.retrieve-password {
		text-align: center;
	}
}

// retrieve password styles
.retrieve-password  {
	span.email {
		display: block;
		font-family: $font-open-sans-semi-bold;
	}

	button {
		@include style-button-base($size: 16px, $padding: 10px 15px);
		margin-top: 10px;
		width: 100%;
	}
}


.logout {
	@include style-message-base;
	@include style-message-important-override;

	.user {
		font-family: $font-open-sans-bold;
	}
}

.login-intro {
	text-align: center;
}

// Styles for product specialist landing
//TODO find out where this is used
.td-director {
	margin-top: 15px;

	.prop-header {
		@include style-h2;
	}

	label {
		@include style-label;
		display: block;
	}

	input {
		width: 100%;
	}

	button {
		@include style-button-base($size: 16px, $padding: 10px 15px);
		margin-top: 15px;
		width: 100%;
	}
}