@import "../themes/theme--standard";

@include fontFace('OpenSans', '/OpenSans', 'opensans-regular-webfont');
@include fontFace('OpenSansBold', '/OpenSans', 'opensans-bold-webfont');
@include fontFace('OpenSansSemiBold', '/OpenSans', 'opensans-semibold-webfont');

@import "../libs/normalize";
@import "../libs/select2";

body {
  font-family: $font-open-sans;
  font-size: $font-default-size;
  color: $color-grey-33;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

#e-column-0 {
  padding: 15px 15px 80px;
  position: relative;

  @include breakpoint($bp-mobile-landscape) {
    padding: 25px 25px 80px;
  }
}

.l-header {
  @include breakpoint($bp-desktop) {
    padding: 10px $spacing-horizontal-desktop;

    .box-wc {
      display: table;
      width: 100%;
    }
  }
}

// Header area styles
.logo {
  padding: 0 15px;
  text-align: center;

  img {
    max-width: 250px;
    height: auto;
  }

  @include breakpoint($bp-desktop) {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-plus {
  position: relative;

  .nav-collapse {
    .nav-trigger {
      display: block;
      padding: 15px;
      background-color: $color-accent;
      box-shadow: 0 0 2px lighten($color-grey-55, 25%);
      &:hover {
        background-color: darken($color-accent, 5%);
        cursor: pointer;
      }
      .line {
        display: block;
        content: "";
        height: 2px;
        width: 36px;
        margin: 5px;
        background-color: $color-contrast;
      }
    }
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    .mi {
      border-bottom: 1px solid $bg-body;
      &.last {
        border-bottom: none;
      }
      .menuitemlabel {
        color: $color-accent;
        font-family: $font-open-sans-bold;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
        &:hover {
          text-decoration: none;
          color: lighten($color-accent, 5%);
        }
      }

      &.mi-active,
      .menuitemlabel:hover {
        .mil {
          border-bottom: 1px solid $color-accent;
        }
      }
    }
  }

  .logout {
    position: absolute;
    top: 0;
    right: 0;

    .username {
      display: none;
    }

    span.logout-url {
      background: url(/_resources/dyn/files/21507z2032e2af/_fn/LogOut.png) no-repeat center center;
      display: block;
      overflow: hidden;
      position: relative;
      height: 36px;
      width: 36px;

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: 4000em;
      }
    }
  }
}

@include breakpoint($bp-desktop) {

  .logo,
  .nav-plus {
    display: table-cell;
    vertical-align: middle;
  }

  .nav-plus {
    text-align: right;

    .nav-collapse {
      .nav-trigger {
        display: none;
      }

      .collapsible-shown {
        display: block !important;
      }
    }

    .menu .menu-t1 {
      .mi {
        display: inline-block;
        vertical-align: middle;
        border-bottom: none;

        .menuitemlabel {
          padding: 10px 25px 10px 0;
        }
      }
    }

    .nav-collapse,
    .logout {
      display: inline-block;
      vertical-align: middle;
    }

    .logout {
      position: relative;
      padding: 5px 10px 5px 15px;
    }
  }
}


@import "../components/partials/calendar";
@import "../components/partials/messages";

@include theme-structure($bg-body, $bg-accent, $color-contrast, $color-accent);