@import "../themes/theme--standard";




// Action clickables
.header-actions,
.footer-actions,
.prop-header-actions,
.prop-footer-actions {
  display: block;
  text-align: center;

  a {
    @include button($color-accent, $bg-body, $color-contrast, $size: 14px, $padding: 5px 15px);
    display: block;
    width: 100%;

    + a {
      margin-top: 5px;
    }
  }

  button {
    display: block;
    width: 100%;

    + button {
      margin-top: 5px;
    }
  }
}

.prop-header-actions,
.prop-footer-actions {
  margin-top: 5px;
}

@include breakpoint($bp-mobile-landscape) {
  .header-actions,
  .footer-actions,
  .prop-header-actions,
  .prop-footer-actions {
    text-align: right;
    width: auto;

    a {
      display: inline-block;
      vertical-align: top;
      width: auto;

      + a {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    button {
      display: inline-block;
      width: auto;

      + button {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
}

// Add - clickables specific to the management/search pages
a[title="Add Engagement"],
a[title="Add User"]{
  @include button($color-accent, $bg-body, $color-contrast, $size: 14px, $padding: 5px 15px);
  display: block;
  text-align: center;
}

@include breakpoint($bp-mobile-landscape) {
  a[title="Add Engagement"],
  a[title="Add User"]{
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 25px;
  }
}


// Generic Form & Management Styles
label,
.label,
.label-component {
  display: block;
  @include label;
}

.label > label {
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  @include input($bg-body);
  display: block;
  width: 100%;
}

@include breakpoint($bp-mobile-landscape) {
  input[type="text"],
  input[type="number"],
  input[type="password"],
  textarea,
  select {
    width: auto;
  }

}

input[type="checkbox"],
label.tbl {
  display: inline-block;
  vertical-align: middle;
}

.rtb,
.ctb {
  display: block;
}

table {
  width: 100%;

  div.column-visibility {
    button {
      padding:0;
      box-shadow: none;
    }
  }

  button,
  .btn {
    font-size: 12px;
    margin-right: 5px;
    white-space: nowrap;
  }

  a + a {
    margin-left: 5px;
  }
}


// Content box styles
.search-bar,
.section {
  @include contentbox;
}


// Search bar styles
.search {
  .constraints {
    input,
    select {
      width: 100%;
    }

    .range-selector {
      display: block;

      .constraint-input,
      .miwt-calendar {
        display: block;
        margin: 5px 0;
      }

      .miwt-calendar {
        input {
          width: auto;
        }
      }
    }
  }

  .search-actions {
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;

    button {
      width: 100%;
      display: block;
      text-align: center;

      + button {
        margin-top: 5px;
      }
    }
  }

  .pager-search-results {
    position: relative;
    div.column-visibility {
      position: inherit;
    }
  }

  .pager-top,
  .pager-bottom {
    text-align: center;

    .controls {
      a {
        @include button($color-accent, $bg-body, $color-contrast, $size: 14px, $padding: 5px 10px);
        font-family: $font-open-sans;
        text-transform: none;
        margin: 0 2px;
      }

      &.pages {
        display: none;
      }
    }
  }

  .search-results-con {
    display: block;
    width: 100%;
    overflow: auto;
    margin: 25px 0;
    box-shadow: 0 0 2px lighten($color-grey-55, 25%);

    table {
      margin: 0;
    }
  }

  .result-actions {
    display: block;
    margin-top: 15px;
  }
}

@include breakpoint($bp-mobile-landscape) {
  .search {
    .constraints {
      input,
      select {
        width: auto;
      }

      select {
        max-width: 300px;
      }
    }
    .constraints,
    .search-actions {
      display: inline-block;
      vertical-align: bottom;
    }

    .search-actions {
      button {
        display: inline-block;
        vertical-align: middle;
        width: auto;

        + button {
          margin-top: 0;
          margin-left: 15px;
        }
      }
    }

    .constraints .constraint,
    .constraints .range-selector {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 25px;
    }

    .constraints .range-selector {
      .constraint-operator {
        margin-right: 15px;
      }

      .constraint-operator,
      .constraint-input {
        display: inline-block;
        vertical-align: top;
      }

      .constraint-input {
        margin: 0;

        .miwt-calendar {
          display: inline-block;
          margin: 0;
        }

        .constraint-input-conjunction {
          margin: 0 15px;
        }
      }
    }

    .pager-top,
    .pager-bottom {
      text-align: center;

      .controls {

        &.pages,
        &.mp-controls{
          display: inline-block;
          vertical-align: middle;
        }

        a {
          @include button($bg-accent, $bg-body, $color-accent, $size: 12px, $padding: 5px 10px);
          font-family: $font-open-sans;
          text-transform: none;
          margin: 0 2px;
        }

        .selected-page {
          @include button($color-accent, $bg-body, $color-contrast, $size: 12px, $padding: 5px 10px);
          font-family: $font-open-sans;
          text-transform: none;
          margin: 0 2px;
        }
      }
    }
  }

  .result-actions {
    text-align: right;
  }
}

.column-visibility-selector {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  input[type="checkbox"],
  label {
    display: inline-block;
    vertical-align: middle;
  }
  label {
    word-break: break-all;
    font-size: 12px;
  }
}

// Section Styles
.section-header {
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 18px;

  a {
    @include button($color-accent, $bg-body, $color-contrast, $size: 14px, $padding: 5px 15px);
      display: block;
      width: 100%;
      text-align: center;
  }
}

.sub-section {
  position: relative;
  padding-top: 5px;

  &-header {
    @include h3;
    margin-left: 25px;

    .metric-set-value-count {
      display: none;
      font-family: $font-open-sans;
      padding-left: 5px;
    }
  }

  button.btn.trigger {
    padding: 0 5px;
    height: 18px;
    width: 20px;
    position: absolute;
    top: 7px;
    left: 0;

    &:after {
      content: "+";
      font-size: 18px;
      line-height: 18px;
    }
  }

  + .sub-section {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $color-grey-aa;

    button.btn.trigger {
      top: 10px;
    }
  }

  .shown {
    button.btn.trigger {
      &:after {
        content: "-";
        line-height: 14px;
      }
    }
  }
}

@include breakpoint ($bp-mobile-landscape) {
  .section {

    &-header {
      a {
        position: absolute;
        top: 25px;
        right: 25px;
        width: auto;
      }
    }

    .sub-section {
      &-header {
        a {
          position: absolute;
          top: 25px;
          right: 25px;
        }

        .metric-set-value-count {
          display: inline;
          text-transform: none;
        }
      }

      .prop-header-actions {
        position: absolute;
        top: 7px;
        right: 0;
      }

      + .sub-section {
        .prop-header-actions {
          top: 10px;
        }
      }
    }
  }
}

.manage-users {
  .search-results {
    td.first-column {
      min-width: 185px;
    }
  }
}

