$html-entity-edit: "\f115";
$html-entity-warning: "\f101";
$html-entity-error: "\f102";
$html-entity-success: "\f103";
$html-entity-help: "\f104";
$html-entity-info: "\f105";
$html-entity-trash: "\f106";
$html-entity-calendar: "\f107";
$html-entity-profile: "\f108";
$html-entity-location: "\f109";
$html-entity-download: "\f10a";
$html-entity-email: "\f10b";
$html-entity-facebook: "\f10c";
$html-entity-phone: "\f10d";
$html-entity-social-share: "\f10e";
$html-entity-flask: "\f10f";
$html-entity-link: "\f110";
$html-entity-video-library: "\f111";
$html-entity-reporting: "\f112";
$html-entity-delete: "\f113";
$html-entity-upload: "\f114";