$html-entity-download: "\f10a";
$html-entity-email: "\f10b";
$html-entity-facebook: "\f10c";
$html-entity-phone: "\f10d";
$html-entity-warning: "\f101";
$html-entity-error: "\f102";
$html-entity-success: "\f103";
$html-entity-help: "\f104";
$html-entity-info: "\f105";
$html-entity-trash: "\f106";
$html-entity-calendar: "\f107";
$html-entity-profile: "\f108";
$html-entity-location: "\f109";