@mixin button-override($color-bg: "", $color-text: "", $font-size: "", $padding: "") {
  @if ($color-bg != "") {
    background-color: $color-bg;

    &:hover {
      background-color: lighten($color-bg, 5%);
    }
  }
  @if ($color-text != "") {
    color: $color-text;
  }
  @if ($font-size != "") {
    font-size: $font-size;
  }
  @if ($padding != "") {
    padding: $padding;
  }
}

@mixin button-base($color-bg: $app--btn-bg-color, $color-hover-bg: $app--btn-hover-bg-color, $color-text: $app--btn-text-color, $size: 14px, $padding: 5px 15px) {
  background-color: $color-bg;
  color: $color-text;
  font-size: $size;
  font-family: $font-open-sans-semi-bold;
  padding: $padding;
  border: none;
  &:hover {
    background-color: $color-hover-bg;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

@mixin h1 {
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 20px;
  color: $app--heading-h1-color;
}

@mixin h2 {
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 18px;
  color: $app--heading-h2-color;
}

@mixin h3 {
  font-family: $font-open-sans-semi-bold;
  text-transform: uppercase;
  font-size: 16px;
  color: $app--heading-h3-color;
}

// Forms/Data edit/manage view mixins

@mixin label {
  font-family: $font-open-sans-semi-bold;
  margin: 5px 0;
}

@mixin text-like-inputs {
  input[type=url],
  input[type=number],
  input[type=password],
  input[type=text] {
    @content;
  }
}

@mixin input ($theme-bg){
  padding: 5px;
  border: solid 1px $app--input-border-color;
}

@mixin contentbox {
  background-color: $color-white;
  box-shadow: 0 0 2px lighten($color-grey-55, 25%);
  position: relative;
  padding: 15px;
  margin: 15px 0;

  @include breakpoint($bp-mobile-landscape) {
    padding: 25px;
    margin: 25px 0;
  }
}