@mixin button-override($color-bg: "", $color-text: "", $font-size: "", $padding: "") {
  @if ($color-bg != "") {
    background-color: $color-bg;
  }
  @if ($color-text != "") {
    color: $color-text;
  }
  @if ($font-size != "") {
    font-size: $font-size;
  }
  @if ($padding != "") {
    padding: $padding;
  }
}

@mixin button-base($theme-accent, $theme-bg-sec, $theme-contrast, $size: 14px, $padding: 5px 15px) {
  background-color: $theme-accent;
  color: $theme-contrast;
  font-size: $size;
  font-family: $font-open-sans-semi-bold;
  padding: $padding;
  border: none;
  &:hover {
    background-color: lighten($theme-accent, 5%);
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

@mixin h1 {
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 20px;
  color: $color-accent;
}

@mixin h2 {
  font-family: $font-open-sans-bold;
  text-transform: uppercase;
  font-size: 18px;
}

@mixin h3 {
  font-family: $font-open-sans-semi-bold;
  text-transform: uppercase;
  font-size: 16px;
  color: $color-accent;
}

// Forms/Data edit/manage view mixins

@mixin label {
  font-family: $font-open-sans-semi-bold;
  margin: 5px 0;
}

@mixin input ($theme-bg){
  padding: 5px;
  border: solid 1px $color-grey-cc;
}

@mixin contentbox {
  background-color: $color-white;
  box-shadow: 0 0 2px lighten($color-grey-55, 25%);
  position: relative;
  padding: 15px;
  margin: 15px 0;

  @include breakpoint($bp-mobile-landscape) {
    padding: 25px;
    margin: 25px 0;
  }
}

// Login mixin
@mixin login ($theme-bg-img, $theme-bg-sec, $theme-contrast, $theme-accent, $theme-bg) {
  //styles for the non-logged in pages
  #t_noheader {
    #e-content {
      background: $theme-bg-img repeat-x center bottom 50px $theme-bg-sec;
      text-align: center;

      input {
        color: $theme-accent;
        width: 100%;

        &:focus {
          background-color: lighten($theme-accent, 80%);
          outline-color: $theme-accent;
        }

        &.btn {
          @include button-base($theme-accent, $theme-bg-sec, $theme-contrast);
        }
      }

    //  retrieve password styles
      .retrieve-password  {
        span.email {
          display: block;
          font-family: $font-open-sans-bold;
          text-align: left;
        }

        input {
          @include input($theme-bg);
          width: 100%;
        }

        button {
          @include button-base($theme-accent, $theme-bg-sec, $theme-contrast);
          margin-top: 15px;
          width: 100%;
        }
      }
    }
    .l-footer {
      box-shadow: inset 0 2px 1px $theme-bg-sec;
    }
  }
}

// One big mixin for the interior page styles
@mixin theme-structure ($theme-bg, $theme-bg-sec, $theme-contrast, $theme-accent){
  body {
    background-color: $theme-bg;
  }

  .l-header {
    background-color: $theme-bg-sec;
  }

  .l-footer {
    background-color: $theme-bg;
  }

  a {
    color: $theme-accent;
  }

  //generic button styles for block buttons
  .btn,
  .cal button {
    @include button-base($theme-accent, $theme-bg-sec, $theme-contrast);
  }


  //generic table styles, primarily for search results for engagements and users
  .miwt-table {
    background-color: $theme-contrast;

    thead {
      background-color: $theme-accent;
      color: $theme-contrast;

      a {
        color: $theme-contrast;
      }
    }

    tr:nth-child(even) {
      background-color: lighten($theme-bg, 5%);
    }
  }
}

@mixin override-headings {
  h1 {
    color: $color-accent;
  }

  h3 {
    color: $color-accent;
  }
}

@mixin override-calendar-theme {
  body > .calendar {
    thead {
      tr {
        &:first-child {
          td {
            background-color: $color-accent;
          }
        }
      }

      td {
        background-color: $color-accent;

        &.button {
          &:hover {
            background-color: darken($color-accent, 10%);
          }
        }
      }
    }

    .daynames {
      td {
        &.name {
          color: $color-accent;
        }
      }
    }

    .daysrow {
      td {
        &.wn {
          color: $color-accent;
        }

        &.today {
          background-color: $color-accent;

          &:hover {
            background-color: darken($color-accent, 10%);
          }
        }

        &.selected {
          background-color: lighten($color-accent, 15%);

          &:hover {
            background-color: lighten($color-accent, 5%);
          }
        }
      }
    }

  }
}