@mixin override-structure-theme {
	body {
		background-color: $bg-body;
	}

	.l-header {
		background-color: $bg-accent;
	}

	.l-footer {
		background-color: $bg-body;
	}

	a {
		color: $color-accent;
	}
}

@mixin override-table-theme {
	//generic table styles, primarily for search results for engagements and users
	.miwt-table {
		background-color: $color-contrast;

		thead {
			background-color: $color-accent;
			color: $color-contrast;

			a {
				color: $color-contrast;
			}
		}

		tr:nth-child(even) {
			background-color: lighten($bg-body, 5%);
		}
	}
}

@mixin override-headings-theme {
	h1 {
		color: $color-accent;
	}

	h3 {
		color: $color-accent;
	}

	.sub-section-header {
		color: $color-accent;
	}
}

@mixin override-calendar-theme {
	body > .calendar {
		thead {
			tr {
				&:first-child {
					td {
						background-color: $color-accent;
					}
				}
			}

			td {
				background-color: $color-accent;

				&.button {
					&:hover {
						background-color: darken($color-accent, 10%);
					}
				}
			}
		}

		.daynames {
			td {
				&.name {
					color: $color-accent;
				}
			}
		}

		.daysrow {
			td {
				&.wn {
					color: $color-accent;
				}

				&.today {
					background-color: $color-accent;

					&:hover {
						background-color: darken($color-accent, 10%);
					}
				}

				&.selected {
					background-color: lighten($color-accent, 15%);

					&:hover {
						background-color: lighten($color-accent, 5%);
					}
				}
			}
		}

	}
}

@mixin override-messages-theme {
	.message-container {
		&.permanent-messages {
			color: $color-accent;
		}
	}
}

@mixin override-navigation-theme {
	.nav-plus {
		.nav-collapse {
			.nav-trigger {
				background-color: $color-accent;
				&:hover {
					background-color: darken($color-accent, 5%);
				}
				.line {
					background-color: $color-contrast;
				}
			}
		}

		.menu ul {
			.mi {
				border-bottom: 1px solid $bg-body;
				.menuitemlabel {
					color: $color-accent;
					&:hover {
						color: lighten($color-accent, 5%);
					}
				}

				&.mi-active,
				.menuitemlabel:hover {
					.mil {
						border-bottom: 1px solid $color-accent;
					}
				}
			}
		}
	}
}

@mixin override-button-theme {
	.miwt-form .cal button,
	.btn {
		@include button-override($color-bg: $color-accent, $color-text: $color-contrast);
	}


	// Action clickables
	.header-actions,
	.footer-actions,
	.prop-header-actions,
	.prop-footer-actions {
		a {
			@include button-override($color-bg: $color-accent, $color-text: $color-contrast);
		}
	}

	// Add - clickables specific to the management/search pages
	a[title="Add Engagement"],
	a[title="Add User"]{
		@include button-override($color-bg: $color-accent, $color-text: $color-contrast);
	}

	// Search bar styles
	.search {
		.pager-top,
		.pager-bottom {
			.controls {
				a {
					@include button-override($color-bg: $color-accent, $color-text: $color-contrast, $padding: 5px 12px);
				}
			}
		}


		@include breakpoint($bp-mobile-landscape) {
			.pager-top,
			.pager-bottom {
				.controls {
					a {
						@include button-override($color-bg: $bg-accent, $color-text: $color-accent, $font-size: 12px, $padding: 5px 12px);
						border: 1px solid $color-grey-dd;
					}

					.selected-page {
						@include button-override($color-bg: $color-accent, $color-text: $color-contrast, $font-size: 12px, $padding: 5px 12px);
					}
				}
			}
		}
	}

	// Section Styles
	.section-header {
		a {
			@include button-override($color-bg: $color-accent, $color-text: $color-contrast);
		}
	}

}

// Login mixin
@mixin override-login-theme($theme-bg-img, $theme-bg-sec, $theme-contrast, $theme-accent, $theme-bg) {
	.e-wrapper {
		background-image: $theme-bg-img;
		background-color: $theme-bg-sec;

		@include text-like-inputs {
			color: $theme-accent;
		}

		.retrieve-password  {
			button {
				@include button-override($theme-accent, $theme-contrast);
			}
		}
	}
}