// Content box styles
.search-bar,
.section {
	@include style-contentbox;
}

// Search bar styles
.search {
	.constraints {
		input,
		select {
			width: 100%;
		}

		.range-selector {
			display: block;

			.constraint-input,
			.miwt-calendar {
				display: block;
				margin: 5px 0;
			}

			.miwt-calendar {
				input {
					width: auto;
				}
			}
		}

		.zip-code-constraint {
			.zip-code-miles-label {
				display: inline-block;
				margin: 10px 10px 10px 0;
				font-family: $font-open-sans-italic;
				font-size: 12px;
				font-style: italic;
			}
		}
	}

	.search-actions {
		display: block;
		margin-top: 15px;

		.btn {
			width: 100%;

			+ .btn {
				margin-top: $app--btn-spacing-between-btns;
			}
		}
	}

	.result-actions {
		display: block;
		margin-top: 15px;
	}

	@include breakpoint($bp-mobile-landscape) {
		.constraints {
			input,
			select {
				width: auto;
			}

			select {
				max-width: 300px;
			}
		}

		.constraints,
		.search-actions {
			display: inline-block;
			vertical-align: bottom;
		}

		.search-actions {
			.btn {
				vertical-align: middle;
				width: auto;

				+ .btn {
					margin-top: 0;
					margin-left: $app--btn-spacing-between-btns;
				}
			}
		}

		.constraints {
			.constraint,
			.range-selector {
				display: inline-block;
				vertical-align: bottom;
				margin-right: 25px;
			}

			.range-selector {
				.constraint-operator {
					margin-right: 15px;
				}

				.constraint-operator,
				.constraint-input {
					display: inline-block;
					vertical-align: top;
				}

				.constraint-input {
					margin: 0;

					.miwt-calendar {
						display: inline-block;
						margin: 0;
					}

					.constraint-input-conjunction {
						margin: 0 15px;
					}
				}
			}

			.zip-code-constraint {
				.zip-code-miles-label {
					margin: 0 5px;
				}
			}
		}

		.result-actions {
			text-align: right;
		}
	}
}