.engagement-info {
    position: relative;
    margin: 20px 0;
    min-height: 200px;
}

.engagement-name {
    font-size: 40px;
    font-family: $font-open-sans-bold;
    line-height: 1.2;
}

.engagement-info-details {
    @include breakpoint($bp-tablets-portrait) {
        margin-right: 480px;
    }
}

.engagement-datetime {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.2;

    &:before {
        @include glyphAdd($html-entity-calendar, $size: 32px);
        float: left;
        margin-right: 7px;
        margin-top: 2px;
        color: $color--theme-accent;
    }
}

.engagement-time {
    font-size: 13px;
    color: $color-grey-77;
}

.engagement-time-sep {
    margin: 0 5px;
}

.engagement-location {
    font-size: 14px;
    margin-top: 20px;

    .engagement-map {
        border: 1px solid $color-grey-aa;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .engagement-address {
        white-space: normal;
        max-width: 350px;
        line-height: 1.2;
        position: relative;
        margin-left: 37px;
        margin-top: 10px;

        &:before {
            @include glyphAdd($html-entity-location, $size: 32px);
            float: left;
            margin-right: 7px;
            color: $color--theme-accent;
            position: absolute;
            left: -35px;
        }

        .address-city,
        .address-region {
            display: inline-block;
        }
    }

    .address-name {
        font-family: $font-open-sans-semi-bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .address-area {
        margin-top: 5px;
    }

    .address-region {
        margin-right: 5px;

        &:before {
            content: ",";
            margin-right: 5px;
        }
    }

    @include breakpoint($bp-mobile-landscape) {
        .engagement-map {
            float: right;
        }

        .engagement-map {
            max-width: 50%;
        }

        .engagement-address {
            margin-right: 210px;
            margin-top: 0;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        position: absolute;
        right: 0;
        top: 0;
        white-space: nowrap;

        .engagement-map {
            max-width: 250px;
        }

        .engagement-address {
            margin-right: 260px;
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        .engagement-map {
            max-width: none;
        }

        .engagement-address {
            margin-right: 380px;
        }
    }
}

.engagement-custom-fields {
    clear: right;
    padding-top: 5px;

    .header,
    .trigger {
        display: none;
    }

    @include breakpoint($bp-tablets-landscape) {
        padding-top: 0;
        margin-top: -100px;
        margin-bottom: 100px;
    }
}

.engagement-assignee {
    /*&:before {
        @include glyphAdd($html-entity-profile, $size: 20px);
        margin-right: 5px;
        color: $color--theme-accent;
    }*/

    .engagement-assignee-label,
    .engagement-assignee-name {
        display: inline-block;
        vertical-align: middle;
    }

    .engagement-assignee-label {
        font-family: $font-open-sans-semi-bold;
    }

    .engagement-assignee-name {
        margin-left: 5px;
        color: $color--theme-accent;
    }
}

.engagement-status {
    margin-top: 5px;

    /*&:before {
        @include glyphAdd($html-entity-warning, $size: 20px);
        margin-right: 5px;
        color: $color--theme-accent;
    }*/

    .engagement-status-label,
    .engagement-status-text {
        display: inline-block;
        vertical-align: middle;
    }

    .engagement-status-label {
        font-family: $font-open-sans-semi-bold;
    }

    .engagement-status-text {
        margin-left: 5px;
        color: $color--theme-accent;
    }
}

.engagement-overview {
    display: none;

    .engagement-editor & {
        display: block;
    }

    .sub-section-container,
    .metric-container {
        display: inline-block;
        vertical-align: top;
        margin-right: 25px;
    }

    .metric-container.string-metric {
        input {
            min-width: 200px;
        }
    }

    .engagement-site .btn {
        margin-left: $app--btn-spacing-between-btns;
    }

    @include breakpoint($bp-mobile-landscape) {
        .sub-section-container,
        .metric-container {
            display: inline-block;
            vertical-align: top;
            margin-right: 50px;
        }
    }
}

.prop-body {
    .Market {
        //margin: 5px 0;

        > div,
        .vertical-label-component {
            display: inline-block;
            vertical-align: bottom;
        }

        .vertical-label-component {
            margin: 0;
            font-family: $font-open-sans-semi-bold;
        }

        .value-component {
            margin-left: 5px;

            span {
                color: $color--theme-accent;
            }
        }
    }
}
