$spacing-metric: 15px;

//FIXME move this to basic button functionality
.btn + .btn {
	margin-left: $app--btn-spacing-between-btns;
}

//FIXME remove this after removing it from template-manage
.label-component {
	margin: 0;
}

//FIXME remove this stuff
.sub-section {
  padding-top: 0;

  //FIXME should probably get this class to change, but need to talk with muhlin
  .sub-section {
    padding: 5px 0;
  }

	button.btn.trigger {
		top: 8px;
		//FIXME remove when other gone
		left: auto;
		right: 0;
	}

	+ .sub-section {
		border-top: 1px solid $color-grey-e2;
    margin-top: 0; //FIXME eventually remove
    padding-top: 5px; //FIXME eventually remove

		button.btn.trigger {
			top: 8px;
		}
	}
}

//TODO remove .section after remove the display inline and text transform from manage template
.section {
  padding: 0; //FIXME remove once integrate manage CSS

  .section-header {
    border-bottom: 1px solid $color-grey-e2;
    padding: 10px 25px;
    background-color: $color-grey-f2;

    //FIXME get class added for btn
    a {
      top: 8px;
    }
  }

  .section-content {
    padding: 15px 25px;
		@include clearfix();
  }

	.sub-section-header {
		margin-left: 0; //FIXME remove when other styles gone
		margin-right: 30px;

		.sub-section-heading {
			margin-right: 10px;
		}

		.metric-set-value-count {
      margin-right: 10px;
			padding-left: 0; //FIXME remove when otehr styles gone
			display: inline-block;
			vertical-align: bottom;

			&:before {
				display: inline-block;
				vertical-align: middle;
				color: $color-grey-e2;
				content: $html-entity-success;
				font-size: 20px;
				font-family: $font-glyph-lib;
				margin-right: 15px;
			}
		}

    .metric-value-bar {
      display: inline-block;
      width: 50px;
      background-color: $color-grey-cc;
      height: 8px;
      margin-right: 5px;
      border-top: 1px solid $color-grey-aa;
      border-radius: 2px;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      box-shadow: 0 1px 1px transparentize($color-black, 0.9) inset;
    }

    .metric-value-bar-progress {
      background-color: $color--theme-accent;
      height: 100%;
      display: block;
    }

    .metric-value-percent {
      display: inline-block;
      vertical-align: middle;
      font-family: $font-open-sans-bold;
      width: 38px;
      color: $color-grey-55;

      &:after {
        content: "%";
        font-size: 10px;
        display: inline-block;
        vertical-align: top;
      }
    }
	}

	.sub-section-complete {
		.metric-set-value-count {
			&:before {
				color: $app--message-success-glyph-color;
			}
		}
	}

	.sub-section {

		.prop-header-actions {
			top: auto;
			margin-top: 0; //FIXME remove this and above
		}

		+ .sub-section {
			.prop-header-actions {
				top: auto;
			}
		}

		> .miwt-collapsable {
			&.shown {
				padding: 10px 25px;
				margin-top: 10px;
				margin-left: 115px;
				margin-bottom: 15px;
			}

			&.hidden {

			}
		}
	}
}

.metric-container {
	margin: $spacing-metric 0;
	position: relative;

	.metric-container-header {
		margin: 10px 0;
		@include clearfix;
		font-family: $font-open-sans-semi-bold;
		font-size: 16px;
	}
	.metric-container-heading {
		float: left;
	}
	.metric-container-actions {
		float: right;
	}
}

// Engagement Overview Section styles
.photo-metric {
	.label-component {
	}
}

.event-pictures {
	.picture-list {
		margin: 0 -5px;
		@include clearfix;
	}

	.picture {
		position: relative;
		float: left;
		margin: 0 5px 10px;
		background-color: $color-grey-33;
		cursor: pointer;
		border: 1px solid $color-white;
		transition: box-shadow 200ms;
		min-width: 100px;

		&:hover {
			border-color: $color-grey-aa;
			box-shadow: 0 0 4px transparentize($color-black, 0.7);
		}

		&.picture-selected {
			border-color: $color--theme-accent;
			outline: 3px solid $color--theme-accent;

			.select-for-download {
				background-color: darken($color--theme-accent, 10%);
				border-top-color: lighten($color--theme-accent, 15%);
			}
		}

		img {
			height: 130px;
			//TODO remove height and width once script updated
			width: auto;
			display: block;
			margin: 0 auto;
		}
	}

	.select-for-download {
		background-color: $color-grey-e2;
		padding: 9px 0;
		text-align: center;
		line-height: 1px;
		border-top: 1px solid $color-white;

		input {
			vertical-align: top;
			padding-right: 0;
		}

		label {
			display: none;
		}
	}

	.delete-picture {
		position: absolute;
		top: 2px;
		right: 2px;
		border: 2px solid darken($color--theme-accent, 10%);

		.btn {
			@include style-button-override($padding: 2px 7px);
		}
	}

	.picture-upload {
		padding: 10px;
		margin-bottom: 10px;
		display: inline-block;
		background-color: $color-grey-f2;
		border: 1px solid $color-grey-cc;
	}
}


.image-manager {
	float: left;
}

.image-manager-heading {
	font-family: $font-open-sans-bold;
	font-size: 16px;
	text-align: center;
}

.image-manager-count {
	background-color: $color-grey-55;
	color: $color-white;
	padding: 1px 4px;
	font-size: 13px;
	border-radius: 2px;
	margin-left: 5px;
}

.image-manager-preview {
	background-color: $color-grey-e7;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	position: relative;
	margin: 10px 0;
	border: 1px solid $color-grey-dd;
}

.image-manager-preview-item {
	padding: 5px 5px 18px;
	background-color: $color-white;
	border: 1px solid $color-grey-aa;
	position: absolute;
	box-shadow: 1px 1px 5px transparentize($color-black, 0.6);
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -60px;

	&:first-child {
		transform: rotate(-10deg);
	}

	&:nth-child(2) {
		transform: rotate(0deg);
	}

	&:nth-child(3) {
		transform: translate(13px, -1px) rotate(8deg);
	}

	&:nth-child(4) {
		transform: translate(25px, 7px) rotate(16deg);
	}
}

.image-manager-preview-media {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center center;
}

.image-manager-actions {
	margin-top: 15px;
	text-align: center;
}

.image-manager-size {
	margin-left: 5px;
	font-size: 11px;

	&:before {
		content: "(";
	}
	&:after {
		content: ")";
	}
}


.engagement-info {
	position: relative;
	margin: 20px 0;
}

.engagement-name {
	font-size: 40px;
	font-family: $font-open-sans-bold;
	line-height: 1.2;
}

.engagement-info-details {
	margin-right: 450px;
}

.engagement-datetime {
	margin: 10px 0;
	font-size: 18px;
	line-height: 1.2;

	&:before {
		@include glyphAdd($html-entity-calendar, $size: 32px);
		float: left;
		margin-right: 7px;
		margin-top: 2px;
		color: $color--theme-accent;
	}
}

.engagement-time {
	font-size: 13px;
	color: $color-grey-77;
}

.engagement-time-sep {
	margin: 0 5px;
}

.engagement-location {
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;

	&:before {
		@include glyphAdd($html-entity-location, $size: 32px);
		float: left;
		margin-right: 7px;
		color: $color--theme-accent;
	}

	.engagement-map {
		float: right;
		border: 1px solid $color-grey-aa;

		img {
			display: block;
		}
	}

	.engagement-address {
		margin-left: 40px;
		margin-right: 320px;
		white-space: normal;
		max-width: 250px;
		line-height: 1.2;
	}

	.address-name {
		font-family: $font-open-sans-semi-bold;
		font-size: 20px;
		margin-bottom: 5px;
	}

	.address-area {
		margin-top: 5px;
	}

	.address-region {
		margin-right: 5px;

		&:before {
			content: ",";
			margin-right: 5px;
		}
	}
}

.engagement-assignee {
	&:before {
		@include glyphAdd($html-entity-profile, $size: 20px);
		margin-right: 5px;
		color: $color--theme-accent;
	}

	.engagement-assignee-label,
	.engagement-assignee-name {
		display: inline-block;
		vertical-align: middle;
	}

	.engagement-assignee-label {
		font-family: $font-open-sans-semi-bold;
	}

	.engagement-assignee-name {
		margin-left: 5px;
		color: $color--theme-accent;
	}
}

.engagement-status {
	margin-top: 5px;

	&:before {
		@include glyphAdd($html-entity-warning, $size: 20px);
		margin-right: 5px;
		color: $color--theme-accent;
	}

	.engagement-status-label,
	.engagement-status-text {
		display: inline-block;
		vertical-align: middle;
	}

	.engagement-status-label {
		font-family: $font-open-sans-semi-bold;
	}

	.engagement-status-text {
		margin-left: 5px;
		color: $color--theme-accent;
	}
}

.engagement-overview {
	display: none;

  .sub-section-container,
  .metric-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
  }

  .metric-container.string-metric {
    input {
      min-width: 200px;
    }
  }

  .engagement-site .btn {
    margin-left: $app--btn-spacing-between-btns;
  }

  @include breakpoint($bp-mobile-landscape) {
    .sub-section-container,
    .metric-container {
      display: inline-block;
      vertical-align: top;
      margin-right: 50px;
    }
  }
}

.prop {
  &-group-title {
    font-family: $font-open-sans-semi-bold;
  }

  &-wrapper.event-pictures {
    position: relative;
  }

  &-header-actions {
    margin-top: 5px;

    .btn {
      display: block;
      width: 100%;
      text-align: center;

      +.btn {
        margin-top: $app--btn-spacing-between-btns;
      }
    }
  }

  &-body {
    margin-top: 15px;
  }

  //&-group {
  //  margin-right: 15px;
  //  margin-bottom: 15px;
  //  display: inline-block;
  //  vertical-align: top;
  //  min-width: 220px;
  //  max-width: 100%;
  //}

  //&-group.default-group {
  //  display: block;
	//
  //  .prop {
  //    display: inline-block;
  //    vertical-align: top;
  //    margin-right: 15px;
  //  }
  //}

  @include breakpoint($bp-mobile-landscape) {
    &-header-actions {
      margin-top: -5px;

      .btn {
        display: inline-block;
        vertical-align: middle;
        width: auto;

        +.btn {
          margin-top: 0;
        }
      }
    }
		//
    //&-group {
    //  margin-right: 50px;
    //  margin-bottom: 50px;
    //}
		//
    //&-group.default-group {
    //  margin-right: 0;
		//
    //  .prop {
    //    margin-right: 50px;
    //  }
    //}
  }
}



//metric Feedback

.prop-body {

  @include breakpoint($bp-mobile-landscape) {
      label,
      input {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
      }
  }

  .vertical-label-component,
  .string-metric .label-component {
    display: block;
    width: auto;
    margin: 5px 0;
    font-family: $font-open-sans-semi-bold;
  }

  .value-component span{
    color: $color-grey-77;
  }

  @include text-like-inputs {
    width: 70px;
  }

  textarea {
    width: 100%;
  }


  .choice-metric {
    display: inline-block;
    vertical-align: top;

    @include breakpoint($bp-mobile-landscape) {
      margin-right: 50px;
    }
  }
}

.metric-group {
  display: block;
}

//.metric-container,
//.prop-group {
//  display: inline-block;
//  vertical-align: top;
//}


.metric-bucket,
.metric-group .metric-container.monetary-metric,
.metric-group .metric-container.numeric-metric {
  display: table-row;
}

.metric-bucket,
.metric-group .metric-container.monetary-metric,
.metric-group .metric-container.numeric-metric {
  .label-component,
  > div {
    display: table-cell;
    padding: 5px 15px 5px 0;
  }

  > div {
    text-align: right;
    min-width: 125px;

    span.value-component,
		div.value-component {
      border-bottom: 1px solid $color-grey-77;
      min-width: 25px;
      min-height: 18px;
    }
  }

  .value-component,
  .goal-type,
  .before-value-component {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }

  .percent-total {
    font-family: $font-open-sans-semi-bold;
  }
}

span.metric-bucket.value-component {
  border-bottom: 1px solid $color-grey-77;
  min-width: 25px;
  min-height: 18px;
}

.default-group {
  .numeric-metric {
    display: block;

    > div {
      display: block;
      text-align: left;
    }
  }
}

// Consumer profile only

.consumer-profile {
  .metric-container {
    .label-component {
      width: 150px;
    }

    &.metric-bucket:last-child {
      .label-component {
        color: $color--theme-accent;
      }
    }
  }
}

// Market Intell only
.market-intelligence {
  .string-metric {
    display: block;

    input[type="text"] {
      width: 100%;
      min-width: 200px;
    }

    @include breakpoint($bp-mobile-landscape) {
      input[type="text"] {
        width: auto;
        max-width: 180px;
        min-width: 125px;
      }
    }
  }
}

@include breakpoint($bp-mobile-landscape) {
  .market-intelligence {
    .EventResults,
    .EventApproval {
      .default-group {
        .metric-container.numeric-metric {
          display: inline-block;
          vertical-align: top;
          margin-right: 50px;
        }
      }
    }

    .EventApproval {
      .default-group {
        .metric-container.string-metric {
          display: inline-block;
          vertical-align: top;
          margin-right: 25px;
        }
      }
    }
  }
}

// User Management
.user-management {
  .prop-header-title {
    @include style-h3;
  }

	//FIXME this should be in the section header...
  .entity-actions {
    margin: 5px 0;

    a {
      @include style-button-base;
    }
  }

  .entity-actions a,
  .btn.back {
    width: 100%;
  }

  table .actions {
    .btn {
      margin-right: 0;
      + .btn {
        margin-left: $app--btn-spacing-between-btns;
      }
    }

    //TODO remove once they add class VM-305
    a {
      @include style-button-base;
      + a {
        margin-left: $app--btn-spacing-between-btns;
      }
    }
  }

  @include breakpoint($bp-mobile-landscape) {
    .prop-header {
      position: relative;
      margin-top: 25px;
      &-actions {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .entity-actions,
    .search-wrapper .btn.back {
      position: absolute;
      top: 25px;
      right: 25px;
    }

    .entity-actions {
	    margin: 0;
      top: 8px;
    }

    .entity-actions a,
    .btn.back {
      margin-left: $app--btn-spacing-between-btns;
      width: auto;
    }
  }
}


// styles for edit pages only

@include breakpoint($bp-mobile-landscape) {
  .engagement-editor {
    .sub-section-container,
    //.metric-container,
    .prop-group.default-group .prop {
      margin-right: 25px;
    }

    .prop-group.default-group {
      .metric-container .prop {
        margin-right: 0;
      }
    }

    .metric-bucket,
    .metric-container.monetary-metric,
    .metric-container.numeric-metric {
      > div {
        div.value-component {
          border-bottom: none;
        }
      }
    }

    //span.metric-bucket.value-component {
    //  border-bottom: none;
    //}
  }
}

// Styles for new engagement site edit which has a wonky question structure

.engagement-site.prop-editor {
  @include style-contentbox;

  .prop-header-title {
    font-family: $font-open-sans-bold;
    text-transform: uppercase;
    font-size: 18px;
  }

  .rtb,
  .rtb + label {
    display: inline-block;
    vertical-align: top;
  }

  .rtb {
    margin-top: -1px;
  }

  .prop-group.selection-editor {
    display: block;
    margin: 0;
  }

  .constraint,
  .address_form {
    label {
      display: block;
    }
  }

  .siteName {
    display: block;
    margin-right: 0;
  }

  .siteName,
  .address_form,
  .custom-fields {
    input,
    select {
      width: 100%;
    }
  }

  .pager-search-results {
    padding-bottom: 5px;
  }

  @include breakpoint($bp-mobile-landscape) {
    .prop-header-actions {
      margin-top: -25px;
    }

    .prop-group {
      margin: 0;
    }
    .siteName,
    .address_form,
    .custom-fields {
      input,
      select {
        width: 225px;
      }
    }

    .siteName {
      input {
        min-width: 225px;
      }
    }

    .address_form {
      .part,
      .address_container div.address_line {
        display: inline-block;
        margin-right: 25px;
      }

      .part.address_container {
        display: block;
      }
    }

    .custom-fields {
      input {
        max-width: 225px;
      }

      .prop,
      .choice-metric {
        margin-right: 25px;
        padding-right: 0;
      }

      .btn.trigger {
        display: none;
      }
    }
  }
}