@import "_page--intranet/tile-flip";
@import "_page--intranet/brand-slider";

.miwt-table {
    th.last-column {
        button.configure {
            float: right;
        }
    }
}

.section {
    &.agency-brands-editor {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    &.agency-brand-logo-editor {
        .agency-brand-tile {
            box-shadow: none;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .brand-logo-image {
                width: 80%;
                height: 175px;
                margin: 0 auto 15px;

                img {
                    max-height: 100%;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%);
                }
            }
        }
    }

    &.agency-engagements-review-editor,
    &.agency-engagements-active-editor,
    &.agency-engagements-upcoming-editor {
        .search-bar {
            display: none;
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        &.agency-brand-logo-editor,
        &.agency-links {
            float: left;
            width: 300px;
            position: relative;
            z-index: 888;
            margin: 0;
        }

        &.agency-links {
            clear: left;
            margin: 25px 0;
        }

        &.agency-key-metrics-editor,
        &.agency-brands {
            margin-left: 330px;
        }
    }
}

.prop-header-title {
    @include style-h3;
}

.agency-key-metric-total {
    margin-top: 13px;

    .prop {
        + .prop {
            padding-top: 10px;
        }
    }

    .default-group .prop {
        text-align: center;
        padding: 0 30px;
    }

    label {
        margin-top: 12px;
        text-align: center;
        font-family: $font-open-sans-semi-bold;
        text-transform: uppercase;
        font-size: 16px;
        color: $color-grey-77;
    }

    .val {
        margin-top: 10px;
        text-align: center;
        font-family: $font-open-sans-semi-bold;
        text-transform: uppercase;
        color: $color-black;
        line-height: 1;
        font-size: 25px;
    }

    @include breakpoint($bp-tablets-portrait) {
        .default-group .prop {
            display: inline-block;
            vertical-align: top;
        }
    }
}


.agency-brands {
    .agency-brands-header {
        display: none;
    }
}

.agency-brand-tile-column {
    display: inline-block;
    width: 175px;
    text-align: center;
}

.agency-brand-tile,
.brand-data {
    @include style-contentbox;
    padding-bottom: 10px;
    margin: 10px auto;
    width: 165px;
    height: 50%;

    &:hover {
        box-shadow: 0 0 4px #444;
        cursor: pointer;
    }

    .brand-logo {
        width: 100%;

        &-no-image {
            padding: 40px 10px;
            background: $color-grey-cc;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $font-open-sans-bold;
        }

        &-image {
            width: 115px;
            height: 115px;
            text-align: center;
            margin: 0 auto;
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    .brand-actions {
        margin: 5px 0;
        text-align: center;
    }

    @include breakpoint($bp-mobile-landscape) {
        padding-bottom: 10px;
        margin: 10px auto;
    }
}

.brand-data {
    position: absolute;
    top: 0;
    left: 5px;
    margin-top: 0;
    height: 100%;
    padding: 30px 10px;

    .title {
        margin-top: 12px;
        text-align: center;
        font-family: $font-open-sans-semi-bold;
        text-transform: uppercase;
        font-size: 13px;
        color: $color-black;
    }

    .value {
        margin: 5px 0 15px;
        text-align: center;
        font-family: $font-open-sans-bold;
        text-transform: uppercase;
        color: $color-black;
        line-height: 1;
        font-size: 18px;
    }

    .img {
        width: 115px;
        opacity: .1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }
}




