.section {
    &.agency-brands-editor {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    @include breakpoint($bp-tablets-portrait) {
        &.agency-links {
            float: left;
            width: 300px;
            position: relative;
            z-index: 888;
        }

        &.agency-brands {
            padding-left: 330px;
        }
    }
}

.prop-header-title {
    @include style-h3;
}

.agency-key-metric-total {
    margin-top: 13px;

    .prop {
        + .prop {
            padding-top: 10px;
        }
    }

    .default-group .prop {
        text-align: center;
        padding: 0 30px;
    }

    label {
        margin-top: 12px;
        text-align: center;
        font-family: $font-open-sans-semi-bold;
        text-transform: uppercase;
        font-size: 16px;
        color: $color-grey-77;
    }

    .val {
        margin-top: 10px;
        text-align: center;
        font-family: $font-open-sans-semi-bold;
        text-transform: uppercase;
        color: $color-black;
        line-height: 1;
        font-size: 25px;
    }

    @include breakpoint($bp-tablets-portrait) {
        .default-group .prop {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.agency-brands {
    .agency-brands-header {
        display: none;
    }
}

.agency-brand-tile-column {
    display: inline-block;
    width: 175px;
    text-align: center;
}

.agency-brand-tile {
    @include style-contentbox;
    padding-bottom: 10px;
    margin: 10px auto;
    width: 165px;
    height: 50%;

    .brand-logo {
        width: 100%;

        &-no-image {
            padding: 40px 10px;
            background: $color-grey-cc;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $font-open-sans-bold;
        }

        &-image {
            width: 115px;
            height: 115px;
            text-align: center;
            margin: 0 auto;
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    .brand-actions {
        margin: 5px 0;
        text-align: center;
    }

    @include breakpoint($bp-mobile-landscape) {
        padding-bottom: 10px;
        margin: 10px auto;
    }
}

// SLIDER STYLES
.active {
    position: relative;

    .nav_con {
        z-index: 5000;

        .navi {
            cursor: pointer;
            background: $color-grey-cc;
            top: 0;
            bottom: 0;
            width: 35px;
            position: absolute;
            text-align: center;

            &.prev {
                left: 0;

                &.inactive {
                    cursor: auto;
                    opacity: .25;
                }

                span {
                    left: 7px;
                    border-right: 15px solid #fff;
                }
            }

            &.next {
                right: 0;

                &.inactive {
                    cursor: auto;
                    opacity: .25;
                }

                span {
                    right: 7px;
                    border-left: 15px solid #fff;
                }
            }

            span {
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-15px);
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        .nav_con {
            display: block;
        }
    }
}


.wrapper {
    overflow-x: hidden;
    margin: 0 auto;

    @include breakpoint($bp-tablets-portrait) {
        max-width: 100%;
    }
}

.scrollpane {
    position: relative;
    width: 4000px;
    padding-bottom: 30px;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
