@import "_page--engagement-edit/engagement-info";
@import "_page--engagement-edit/sections";
@import "_page--engagement-edit/surveys";
@import "_page--engagement-edit/goals";
@import "_page--engagement-edit/leads";
@import "_page--engagement-edit/media-manager";
@import "_page--engagement-edit/file-metrics";
@import "_page--engagement-edit/photo-metrics";
@import "_page--engagement-edit/check-in";
@import "_page--engagement-edit/completion-metrics";

// event pictures {
.event-pictures {
    .col-photos {
        padding: 0 5px;
    }

    @include breakpoint($bp-mobile-landscape) {
        .col-photos {
            min-width: 220px;
        }
    }
}

.metric-group {
    display: block;
}

.metric-container {
    display: inline-block;
    vertical-align: top;
}

.metric-bucket,
.metric-group > .monetary-metric,
.metric-group > .numeric-metric {
    display: table-row;
}

.metric-bucket,
.metric-group > .monetary-metric,
.metric-group > .numeric-metric {
    .label-component,
    > div {
        display: table-cell;
        padding: 5px 15px 5px 0;
    }

    > div {
        min-width: 125px;

        .view-engagement & {
            span.value-component,
            div.value-component {
                border-bottom: 1px solid $color-grey-77;
                min-width: 25px;
                min-height: 18px;
            }
        }
    }

    .value-component,
    .goal-type,
    .before-value-component {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
    }

    .goal-type {
        padding: 0 5px;
        font-size: 12px;
    }

    .percent-total {
        font-family: $font-open-sans-semi-bold;
    }

    @include breakpoint($bp-tablets-portrait) {
        > div {
            text-align: right;
        }
    }
}

span.metric-bucket.value-component {
    border-bottom: 1px solid $color-grey-77;
    min-width: 25px;
    min-height: 18px;
}

// STYLES FOR NEW HTML FOR VM-412

.sub-section {
    .metric-group-container {
        margin-top: 0;
        margin-bottom: 50px;

        .view-engagement & {
            .metric-group .metric-container.numeric-metric .value-component {
                min-width: 0 !important;

                .val {
                    padding: 5px;
                    border-bottom: 1px solid $color-grey-77;
                }
            }
        }

        .vertical-value-component,
        .vertical-label-component {
            display: block;
        }

        .metric-group {
            .metric {
                //display: block;
                margin: 0;

                + .metric {
                    margin: 0;
                }
            }
        }

        .metric-label,
        .group-label {
            display: block;
            font-family: $font-open-sans-semi-bold;
            margin: 5px 0;
        }

        .metric-label {
            padding-top: 10px;
        }

        .metric-goal-heading {
            display: none;
            font-family: $font-open-sans-semi-bold;

            .goal-heading,
            .actual-heading {
                display: inline-block;
            }

            .goal-heading {
                width: 70%;
            }

            .actual-heading {
                width: 30%;
            }
        }

        .metric-container-wrapper {
            display: table;
            width: 100%;
        }


        &.metric-group-goal {
            .metric-goal-heading {
                display: none;
                font-family: $font-open-sans-semi-bold;

                .goal-heading,
                .actual-heading {
                    display: inline-block;
                }

                .goal-heading {
                    width: 70%;
                }

                .actual-heading {
                    width: 30%;
                }

                @include breakpoint($bp-mobile-landscape) {
                    display: block;
                    margin-left: 155px;

                    .goal-heading,
                    .actual-heading {
                        width: 50%;
                    }
                }

                @include breakpoint($bp-tablets-portrait) {
                    margin-left: 165px;

                    .goal-heading,
                    .actual-heading {
                        width: 120px;
                        padding-left: 10px;
                    }
                }
            }

            .numeric-metric {
                display: block;

                .metric-container-wrapper {
                    display: block;

                    .metric-label {
                        display: block;
                    }

                    .metric-container {
                        display: block;
                        text-align: left;

                        &:before {
                            content: "Actual";
                            width: 45px;
                            font-family: $font-open-sans-semi-bold;
                            font-style: italic;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            text-align: right;
                            font-size: 12px;
                        }
                    }

                    .metric-container-goal {
                        text-align: left;

                        &:before {
                            content: "Goal";
                        }
                    }
                }

                @include breakpoint($bp-mobile-landscape) {
                    display: table;

                    .metric-container-wrapper,
                    .metric-label {
                        display: table-cell;
                        padding: 5px 0;
                        vertical-align: middle;

                        .metric-container {
                            display: inline-block;

                            &:before {
                                display: none;
                            }
                        }

                        .view-engagement & {
                            .metric-container {
                                width: 50%;
                            }
                        }
                    }

                    .metric-label {
                        width: 150px;
                        padding: 5px 15px 5px 0;
                    }
                }

                @include breakpoint($bp-tablets-portrait) {
                    .metric-container-wrapper,
                    .metric-label {

                        .view-engagement & {
                            .metric-container {
                                width: 120px;
                            }
                        }
                    }

                    .metric-label {
                        display: table-cell;
                        width: 160px;
                    }
                }
            }
        }

        &.consumer-profile {
            .metric-label {
                display: block;
            }

            .metric-bucket-item-container {
                &:last-child {
                    .metric-bucket-item {
                        width: 100%;
                        text-align: left;
                        display: table;
                    }

                    .label-component {
                        color: $color--theme-accent;
                        text-align: left;
                        display: table-cell;
                        padding: 5px 15px 5px 0;
                    }

                    .value-component {
                        text-align: right;
                        display: table-cell;
                        padding: 5px 0 5px 0;
                        font-family: $font-open-sans-semi-bold;

                        .percent-total,
                        > span {
                            display: inline-block;
                            vertical-align: bottom;
                        }
                    }
                }

                .metric-bucket-item-label {
                    color: $color-grey-77;
                    font-family: $font-open-sans-semi-bold;
                }

                .metric-bucket-item-label,
                .metric-container {
                    width: 85px;
                    display: table-cell;
                    padding: 5px 15px 5px 0;
                }

                .metric-container {
                    text-align: right;
                    min-width: 85px;
                    color: $color-grey-77;

                    .view-engagement & {
                        .metric-bucket-item,
                        .after-value-component {
                            border-bottom: 1px solid $color-grey-77;
                            display: inline-block;
                            vertical-align: bottom;
                        }
                    }

                    .metric-bucket-item {
                        min-width: 25px;
                        min-height: 18px;
                        padding: 0 0 5px 4px;
                    }

                    .after-value-component {
                        padding: 0 3px 5px 0;
                    }
                }

                .label-component {
                    width: 85px;
                }
            }
        }

        /*&.purchase-motivators,
        &.preferred-brand,
        &.likely-purchase,
        &.familiarity,
        &.premiums-distributed,
        &.montejo-products,
        &.modelo-products,*/
        .numeric-metric,
        .monetary-metric {
            width: 100%;
            display: table;

            .metric-label,
            .metric-container-wrapper {
                display: table-cell;
                vertical-align: middle;
                padding: 5px 15px 5px 0;
            }

            .metric-label {
                //width: 100px;
            }

            .metric-container-wrapper {
                text-align: right;
                color: $color-grey-77;
                width: auto;

                .numeric-metric,
                .monetary-metric {
                    //display: block;

                    .value-component {
                        min-width: 0;
                    }
                }

                .view-engagement & {
                    .val {
                        width: auto;
                        border-bottom: 1px solid $color-grey-77;
                        padding: 0 4px 5px;
                    }
                }
            }
        }

        @include breakpoint($bp-tablets-portrait) {
            .metric-group {
                .metric {
                    display: table-row;
                    margin: 0;
                }
            }

            .metric-label {
                width: 200px;
            }

            .choice-metric {
                > .metric-label {
                    width: auto;
                }
            }

            .metric-container-wrapper {
                .view-engagement & {
                    .numeric-metric,
                    .monetary-metric {
                        width: 120px;
                    }
                }

                .numeric-metric,
                .monetary-metric {
                    width: auto;
                    padding-left: 10px;
                }

                .MostPopularBrands.string-metric {
                    padding-left: 15px;
                }
            }

            /*&.purchase-motivators,
            &.preferred-brand,
            &.likely-purchase,
            &.familiarity,
            &.premiums-distributed {
                .metric-label {
                    width: 200px;
                }
            }*/
        }

        @include breakpoint($bp-desktop) {
            /*display: inline-block;
            vertical-align: top;
            margin-right: 50px;*/

            &.consumer-profile {
                .metric-group {
                    .percentage-metric {
                        display: inline-block;
                        vertical-align: top;

                        + .percentage-metric {
                            margin-top: 0;
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }

    .metric {
        + .metric,
        + .metric-group-container {
            margin-top: 50px;
        }

        .metric-label {
            font-family: $font-open-sans-semi-bold;
        }

        .value-component {
            color: $color-grey-77;
        }
    }

    .kpi,
    .product-goal-display,
    .product-sales {
        /*@include breakpoint($bp-mobile-landscape) {
            .metric-label,
            .metric-container-wrapper {
                padding: 5px 0;
                vertical-align: middle;
                display: table-cell;

                .numeric-metric,
                .monetary-metric {
                    display: inline-block;
                    width: 50%;
                }
            }

            .metric-label {
                width: 30%
            }

        }

        @include breakpoint($bp-tablets-portrait) {
            .metric-label {
                display: table-cell;
                width: 160px;
            }

            .metric-container-wrapper {
                width: auto;
                display: table-cell;
            }
        }*/
    }

    /*.InMarketSurvey {
        .value-component {
            label {
                display: inline-block;
                margin-right: 40px;
            }
        }
    }*/
}

// begin styles for legacy clients
.ConsumerPurchasingKnowledge,
.BrandProductAndPrice,
/*.CompetitorProductAndPrice {
    .metric-group-container {
        .metric-container-wrapper {
            .metric-container {
                &:before {
                    content: "Actual";
                    width: 45px;
                    font-family: $font-open-sans-semi-bold;
                    font-style: italic;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    text-align: right;
                    font-size: 12px;
                }
            }

            .metric-container-goal {
                &:before {
                    content: "Goal";
                }
            }
        }

        .metric-goal-heading {
            display: none;
            font-family: $font-open-sans-semi-bold;

            .goal-heading,
            .actual-heading {
                display: inline-block;
            }

            .goal-heading {
                width: 70%;
            }

            .actual-heading {
                width: 30%;
            }
        }

        @include breakpoint($bp-mobile-landscape) {
            .metric-goal-heading {
                display: block;
                margin-left: 30%;

                .goal-heading,
                .actual-heading {
                    width: 50%;
                }
            }

            .metric-label,
            .metric-container-wrapper {
                padding: 5px 0;
                vertical-align: middle;
                display: table-cell;

                .numeric-metric,
                .monetary-metric {
                    display: inline-block;
                }
            }

            .metric-label {
                //width: 30%
            }

            .metric-container-wrapper {
                //width: 70%;

                .metric-container {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        @include breakpoint($bp-tablets-portrait) {
            .metric-goal-heading {
                margin-left: 150px;

                .goal-heading,
                .actual-heading {
                    width: 120px;
                    padding-left: 10px;
                }
            }

            .metric-label {
                display: table-cell;
                width: auto;
            }

            .metric-container-wrapper {
                width: auto;
                display: table-cell;
            }
        }
    }
}*/

.sub-section {
    .metric-group-container {
        &.competitor-price,
        &.competitor-sale-price,
        &.product-price,
        &.product-sale-price {
            .metric .value-component {
                border-bottom: 1px solid $color-grey-77;
            }

            @include breakpoint($bp-tablets-portrait) {
                display: inline-block;
                vertical-align: top;
                margin-right: 50px;
            }
        }

        &.competitive-samplings {
            .metric-label,
            .metric-container-wrapper {
                display: block;
                padding: 0;
            }
        }
    }
}

// end legacy client styles

// END STYLES FOR NEW HTML

// STYLES FOR VM-440, MEDIA SUMMARY WIDGET
.primary-content.vipametric-wrapper,
.survey-summary-container,
.leads-summary-container {
    @include breakpoint($bp-tablets-landscape) {
        margin-right: 240px;
    }
}

.aside-content {
    @include breakpoint($bp-tablets-landscape) {
        float: right;
        width: 220px;
    }
}

// END STYLES FOR VM-440
.default-group {
    .numeric-metric {
        display: block;

        > div {
            display: block;
            text-align: left;
        }
    }

    .label-component {
        font-weight: bold;
    }
}

// Consumer profile only
.consumer-profile {
    .metric-container {
        .label-component {
            width: 150px;
        }

        &.metric-bucket:last-child {
            .label-component {
                color: $color--theme-accent;
            }
        }
    }
}

// Market Intell only
.market-intelligence {
    .string-metric {
        display: block;

        input[type="text"] {
            width: 100%;
            min-width: 200px;
        }
    }

    .multipart_search > label {
        display: none;
    }

    .metric-container {
        display: block;
        margin-top: 10px;
        width: 100%;

        .engagement-editor & {
            input[type=number],
            input[type=password],
            input[type=text] {
                width: auto;
            }
        }

        .actions {
            .btn {
                + .btn {
                    margin-left: 5px;
                }
            }
        }

        .show-form-metric-table,
        .entity_actions {
            margin: 10px 0;
            text-align: right;
        }

        .search .constraints .constraint.checkbox {
            margin-right: 3px;
            vertical-align: middle;
        }

        .search_results {
            width: 100%;
        }
    }

    @include breakpoint($bp-mobile-landscape) {
        .string-metric {
            input[type="text"] {
                width: auto;
                max-width: 180px;
                min-width: 125px;
            }
        }

        .EventResults,
        .EventApproval {
            .default-group {
                .metric-container.numeric-metric {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 50px;
                }
            }
        }

        .EventApproval {
            .default-group {
                .metric-container.string-metric {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 25px;
                }
            }
        }
    }

    @include breakpoint($bp-tablets-portrait) {
        .search_bar {
            label {
                color: $color-grey-33;
            }

            > span {
                display: inline-block;
                vertical-align: bottom;

                &.actions {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        .search_bar {
            > span.actions {
                margin-top: 0;
                display: inline-block;
            }
        }
    }
}

// In-Market Survey only
.consumer-link-outer-con {
    button.btn.trigger {
        width: auto;
        height: auto;
    }
}

//Time in/out 
.engagement-checkins {
    .section-header + div {
        padding-top: 15px;
    }

    .search-bar {
        display: none;
    }
}


// User Management
.user-management {
    .section-header + div {
        padding-top: 15px;
    }

    .prop-header-title {
        @include style-h3;
    }

    .entity-actions {
        margin: 5px 0;

        a {
            @include style-button-base;
            text-align: center;
            margin: 5px 0;
        }
    }

    div.search {
        margin-top: 10px;
    }

    .search-results-con,
    .miwt-table-con {
        overflow-x: scroll;
    }

    .entity-actions a,
    .btn.back {
        width: 100%;
    }

    table .actions {
        .btn {
            margin-right: 0;

            + .btn {
                margin-left: $app--btn-spacing-between-btns;
            }
        }

        //TODO remove once they add class VM-305
        a {
            @include style-button-base;
            + a {
                margin-left: $app--btn-spacing-between-btns;
            }
        }
    }

    @include breakpoint($bp-mobile-landscape) {
        .prop-header {
            position: relative;
            margin-top: 25px;
            &-actions {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .entity-actions,
        .search-wrapper .btn.back {
            position: absolute;
            top: 3px;
            right: 25px;
        }

        .search-wrapper .btn.back {
            top: 8px;
        }

        .entity-actions a,
        .btn.back {
            width: auto;
            margin: 0 0 0 $app--btn-spacing-between-btns;
        }
    }
}

// styles for edit pages only
.engagement-editor {
    input[type=number],
    input[type=password],
    input[type=text] {
        width: 70px;
        display: inline-block;

        &.metric-bucket-item {
            width: 50px;
        }
    }

    .engagement-overview {
        .name {
            input[type="text"] {
                width: auto;
            }
        }
    }

    .user-status {
        .submitted-by,
        .approved-by {
            display: inline-block;
            margin-right: 25px;
        }
    }

    .custom-fields {
        padding: 15px;

        button.btn.trigger {
            left: 15px;
            top: 18px;
        }
    }

    .metric-group-container {
        &.consumer-profile {
            .metric-bucket-item-container {
                .metric-container {
                    vertical-align: middle;
                }
            }
        }
    }

    .metric-bucket,
    .metric-container.monetary-metric,
    .metric-container.numeric-metric {
        > div {
            div.value-component {
                border-bottom: none;
            }
        }
    }

    .metric-group {
        .metric-container.numeric-metric {
            .value-component {
                text-align: left;
            }
        }
    }


    @include breakpoint($bp-mobile-landscape) {
            .sub-section-container,
            .metric-container,
            .prop-group.default-group .prop {
                margin-right: 25px;
            }

            .prop-group.default-group {
                .metric-container .prop {
                    margin-right: 0;
                }
            }
    }

}

// Styles for new engagement site edit which has a wonky question structure
.engagement-site.prop-editor {
    @include style-contentbox;

    .props {
        padding: 15px 0;
    }

    .prop-header-title {
        font-family: $font-open-sans-bold;
        text-transform: uppercase;
        font-size: 18px;
    }

    .rtb,
    .rtb + label {
        display: inline-block;
        vertical-align: top;
    }

    .rtb {
        margin-top: -1px;
        margin-right: 3px;
    }

    .prop-group.selection-editor {
        display: block;
        margin: 0;
    }

    .constraint,
    .address_form {
        label {
            display: block;
        }
    }

    .siteName {
        display: block;
        margin-right: 0;
    }

    .siteName,
    .address_form,
    .custom-fields {
        input,
        select {
            width: 100%;
        }
    }

    .pager-search-results {
        padding-bottom: 5px;
    }

    @include breakpoint($bp-mobile-landscape) {
        .prop-header-actions {
            margin-top: -25px;
        }

        .prop-group {
            margin: 0;
        }

        .siteName,
        .address_form,
        .custom-fields {
            input,
            select {
                width: 225px;
            }
        }

        .siteName {
            input {
                min-width: 225px;
            }
        }

        .address_form {
            .part,
            .address_container div.address_line {
                display: inline-block;
                vertical-align: top;
                margin-right: 25px;
                margin-bottom: 5px;
            }

            .part.address_container {
                display: block;
            }
        }

        .custom-fields {
            input {
                max-width: 225px;
            }

            .prop,
            .choice-metric {
                margin-right: 25px;
                padding-right: 0;
            }

            .btn.trigger {
                display: none;
            }
        }
    }
}