@import "_page--dashboard/price-matrix";
@import "_page--dashboard/consumer-demographics";
@import "_page--dashboard/social-widget";

.vipametric,
.dash-section,
.dash_message {
  @include style-contentbox;
}

.vipametric {
  padding: 0;

  .dashboard-params {
    padding: 25px;
    border-bottom: 1px solid $color-grey-e2;

    button.search-button {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .param-wrapper {
    margin-bottom: 15px;

    input,
    select {
      width: 100%;
    }
  }

  .reports-container {
    padding: 25px;
    background-color: $color-grey-f2;
    border-top: 1px solid $color-white;

    .btn {
      display: block;
      width: 100%;

      + .btn {
        margin-top: $app--btn-spacing-between-btns;
      }
    }
  }

  @include breakpoint($bp-mobile-landscape) {
    .dashboard-params {
      button.search-button {
        display: inline-block;
        margin-top: 30px;
        margin-right: 50px;
        width: auto;
      }
    }

    .param-wrapper {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;

      select {
        max-width: 300px;
      }
    }


    .dashboard-params > div:first-child,
    .dashboard-search {
      display: inline-block;
      vertical-align: top;
    }

    .reports-container {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: right;

      .btn {
        display: inline-block;
        width: auto;

        + .btn {
          margin-top: 0;
          margin-left: $app--btn-spacing-between-btns;
        }
      }
    }
  }
}

.dashboard-param {
  display: inline-block;
  line-height: 30px;
}

.dashboard-param-label {
  display: block;
  font-family: OpenSansSemiBold, Arial, Verdana, sans-serif;
  margin: 5px 0;
}

.dash-section {
  &-header {
    @include style-h2;
  }

  &.circular-chart-wrapper {
    &:after {
      content: "";
      display: table;
      clear: both;
      float: none;
    }
  }

  .brand-totals {
    display: block;
    margin: 0 auto;
  }

  .gauge-chart {
    height: 200px;
    width: 300px;
    float: left;

    .highcharts-yaxis-title {
      @include style-h3;
    }

    div.highcharts-yaxis-labels{
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      span:nth-child(even){
        top: 163.75px !important;
        left: 238px !important;
      }
    }
  }

  .pie-chart {
    height: 380px;
  }

  .table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@include breakpoint($bp-mobile-landscape) {
  .dash-section {
    .pie-chart {
      display: inline-block;
      vertical-align: middle;
      width: 45%;
      margin: 0 2.5%;
    }
  }
}


@include breakpoint($bp-desktop) {
  .dash-section {
    .pie-chart {
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      margin: 0 2.5%;
    }

    /*&.consumer-demographics {
      .pie-chart {
        display: inline-block;
        width: 45%;
        margin: 0 2.5%;
      }
    }*/
  }
}

.table-wrapper {
  .legend {
    display: none;
  }
}

// No-Data dashboard-styles
.no-data {
  @include style-h3;
  text-align: center;
}

//Faux miwt ajax loading box
body > div.miwt-ajax-progress {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

