/** GENERAL STYLES **/
.form_field {
  + .form_field {
    margin-top: 20px;
  }
}



/** BUTTON STYLES **/
.submit_button {
  margin-top: 15px;
}

td.procedure-navigation-con {
  padding-top: 20px;
}

.previous-button-con {
  padding-right: $app--btn-spacing-between-btns;
}

.disabled-con {
  .btn {
    background-color: $color-grey-cc;
  }
}

