@import "../../libs/jquery.timepicker";

// Action clickables
.header-actions,
.footer-actions,
.prop-header-actions,
.prop-footer-actions {
	display: block;
	text-align: center;

	a {
		@include style-button-base;
		display: block;
		width: 100%;

		+ a {
			margin-top: $app--btn-spacing-between-btns;
		}
	}

	button {
		display: block;
		width: 100%;

		+ button {
			margin-top: $app--btn-spacing-between-btns;
		}
	}

	@include breakpoint($bp-mobile-landscape) {
		text-align: right;
		width: auto;

		a {
			display: inline-block;
			vertical-align: top;
			width: auto;

			+ a {
				margin-top: 0;
				margin-left: $app--btn-spacing-between-btns;
			}
		}

		button {
			display: inline-block;
			width: auto;

			+ button {
				margin-top: 0;
				margin-left: $app--btn-spacing-between-btns;
			}
		}
	}
}

.prop-header-actions,
.prop-footer-actions {
	margin-top: 5px;
}

// Add - clickables specific to the management/search pages
a[title="Add Engagement"],
a[title="Add User"] {
	@include style-button-base;
	width: 100%;
	text-align: center;

	@include breakpoint($bp-mobile-landscape) {
		width: auto;
		position: absolute;
		top: 35px;
		right: 25px;
	}
}


// Generic Form & Management Styles
label,
.label,
.label-component {
	display: block;
	@include style-label;
}

.label > label {
	margin: 0;
}

.question + .question {
	margin-top: 20px;
}

.form_field {
	+ .form_field {
		margin-top: 10px;
	}

	&.submit_registration_button {
		display: block;
		margin: 10px 0 5px;
	}
}

.procedure-navigation-con {
	padding-top: 20px;
}

@include text-like-inputs {
	@include style-input;
	display: block;
	width: 100%;

	@include breakpoint($bp-mobile-landscape) {
		display: inline-block;
		width: auto;
	}
}

textarea,
select {
	@include style-input;
	display: block;
	width: 100%;

	@include breakpoint($bp-mobile-landscape) {
		display: inline-block;
		width: auto;
	}
}

input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
}

input[type="file"] {
	font-size: 12px;
}

label.tbl {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
}

.rtb,
.ctb {
	display: block;
}

.next-button-con {
	padding-left: 10px;
}

.btn[disabled] {
	background-color: $color-grey-cc;

	&:hover {
		background-color: $color-grey-cc;
	}
}

button.btn.trigger {
	padding: 0 5px;
	height: 18px;
	width: 20px;

	&:after {
		content: "+";
		font-size: 18px;
		line-height: 18px;
	}
}

.shown {
	button.btn.trigger {
		&:after {
			content: "-";
			line-height: 14px;
		}
	}
}


// Section Styles
.section-header {
	font-family: $font-open-sans-bold;
	text-transform: uppercase;
	font-size: 18px;

	a {
		@include style-button-base;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.sub-section {
	position: relative;
	padding-top: 5px;

	&-header {
		@include style-h3;
		margin-left: 25px;

		.metric-set-value-count {
			display: none;
			font-family: $font-open-sans;
			padding-left: 5px;
		}
	}

	button.btn.trigger {
		position: absolute;
		top: 7px;
		left: 0;
	}

	+ .sub-section {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid $color-grey-aa;

		button.btn.trigger {
			top: 10px;
		}
	}
}

@include breakpoint($bp-mobile-landscape) {
	.section {

		&-header {
			a {
				position: absolute;
				top: 25px;
				right: 25px;
				width: auto;
			}
		}

		.sub-section {
			&-header {
				a {
					position: absolute;
					top: 25px;
					right: 25px;
				}

				.metric-set-value-count {
					display: inline;
					text-transform: none;
				}
			}

			.prop-header-actions {
				position: absolute;
				top: 7px;
				right: 0;
			}

			+ .sub-section {
				.prop-header-actions {
					top: 10px;
				}
			}
		}
	}
}


// User Management Styles
.manage-users {
	@include breakpoint($bp-mobile-landscape) {
		.miwt-table.search-results .first-column {
			min-width: 180px;
		}
	}
}