@import "../base-vars";

//Pernod Ricard
$color--theme-accent: #023466;

$landing--bg-image: none;
$landing--bg-color: $color-white;

$app--body-bg-color: $color-grey-f7;
$app--header-bg-color: $color-white;
$app--footer-bg-color: $color-grey-f7;

@import "../default-vars";