@import "../base-vars";

// Theme Pernod Ricard
$bg-accent: $color-white;
$bg-body: $color-grey-e7;

$color-accent: #023466;
$color-contrast: $color-white;



$color--theme-accent: #023466;

$landing--bg-image: none;
$landing--bg-color: $color-white;

$app--body-bg-color: $color-grey-f7;
$app--header-bg-color: $color-white;
$app--footer-bg-color: $color-grey-f7;

@import "../default-vars";