@import "../base-vars";

// Theme Pernod Ricard
$bg-img: url(/_resources/dyn/files/21112z4e4a8fbd/_fn/VipaMetricsLogin.png);

$bg-accent: $color-white;
$bg-body: $color-cloud-grey;

$color-accent: #023466;
$color-contrast: $color-white;