@import "../base-vars";
// theme VipaMetric Dark

$bg-img: url(/_resources/dyn/files/21273z6d51a6f4/_fn/VipaMetricsLoginDrk.png);

$bg-accent: #343434;
$bg-body: #e5e5e5;

$color-accent: #4b93ad;
$color-contrast: $color-white;

$spacing-horizontal-desktop: 25px;