@import "../base-vars";

// Theme The Wine Group
$bg-img: url(/_resources/dyn/files/21112z4e4a8fbd/_fn/VipaMetricsLogin.png);

$bg-accent: $color-white;
$bg-body: $color-grey-e7;

$color-accent: #752225;
$color-contrast: $color-white;