//reused theme colors
$color--theme-accent: #4b93ad !default;

//landing template
$landing--bg-image: url(/_resources/dyn/files/21273z6d51a6f4/_fn/VipaMetricsLoginDrk.png) !default;
$landing--bg-color: $color--theme-accent !default;

//app variables

$app--body-bg-color: $color-grey-e7 !default;
$app--body-text-color: $color-grey-33 !default;
$app--header-bg-color: $color-grey-33 !default;
$app--footer-bg-color: $color-grey-e7 !default;
$app--footer-text-color: $color-white !default;
$app--footer-height: 50px !default;

$app--nav-link-color: $color--theme-accent !default;
$app--nav-link-hover-color: lighten($color--theme-accent, 5%) !default;
$app--nav-link-underline-color: $color--theme-accent !default;
$app--nav-hamburger-bg-color: $color--theme-accent !default;
$app--nav-hamburger-line-color: $color-white !default;
$app--nav-hamburger-hover-bg-color: darken($color--theme-accent, 5%) !default;

$app--logout-btn-bg-color: $color--theme-accent !default;
$app--logout-image: url(/_resources/dyn/files/21507z2032e2af/_fn/LogOut.png) !default;

$app--link-color: $color--theme-accent !default;

$app--heading-h1-color: $color--theme-accent !default;
$app--heading-h2-color: $app--body-text-color !default;
$app--heading-h3-color: $color--theme-accent !default;

$app--btn-bg-color: $color--theme-accent !default;
$app--btn-text-color: $color-white !default;
$app--btn-hover-bg-color: lighten($color--theme-accent, 5%) !default;

$app--input-border-color: $color-grey-cc !default;
$app--input-text-color: $color--theme-accent !default;
$app--input-outline-color: $color--theme-accent !default;
$app--input-focus-bg-color: lighten($color--theme-accent, 80%) !default;

$app--cal-bg-color: $color-white !default;
$app--cal-heading-bg-color: $color--theme-accent !default;
$app--cal-heading-text-color: $color-white !default;
$app--cal-daynames-bg-color: $color-grey-f2 !default;
$app--cal-daynames-text-color: $color--theme-accent !default;
$app--cal-weeknum-bg-color: $color-grey-f7 !default;
$app--cal-weeknum-text-color: $color--theme-accent !default;
$app--cal-today-bg-color: $color--theme-accent !default;
$app--cal-today-text-color: $color-white !default;
$app--cal-selected-bg-color: lighten($color--theme-accent, 15%) !default;
$app--cal-selected-text-color: $color-white !default;
$app--cal-othermonth-bg-color: $color-grey-cc !default;
$app--cal-hilite-bg-color: $color-grey-aa !default;
$app--cal-hilite-text-color: $color-white !default;

$app--pager-btn-bg-color: $color-white !default;
$app--pager-btn-text-color: $color--theme-accent !default;
$app--pager-btn-active-bg-color: $color--theme-accent !default;
$app--pager-btn-active-text-color: $color-white !default;

$app--table-headings-bg-color: $color--theme-accent !default;
$app--table-headings-text-color: $color-white !default;
$app--table-row-even-bg-color: $color-grey-f2 !default;
$app--table-row-odd-bg-color: $color-white !default;