@import "../../config/themes/_standard";
@import "../../config/_base-import";

@import "../_definitions/_page--dashboard-new";

.social-analytics .social-analytics-hashtag {
  font-family: OpenSansItalic, Arial, Verdana, sans-serif;
  font-size: 16px;
  background-color: #4b93ad;
  color: #fff;
  padding: 5px 10px 6px;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 0;
}

.social-analytics .more {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.social-analytics .more:after {
  content: "→";
  margin-left: 5px;
}

.social-analytics .wrap {
  padding: 10px 30px;
  margin-top: 10px;
}

.social-analytics .social-category {
  margin: 10px 0 20px;
}

.social-analytics .social-category .value {
  font-family: OpenSansSemiBold, Arial, Verdana, sans-serif;
  color: #4b93ad;
  font-size: 40px;
}

.social-analytics .social-category .title {
  font-family: OpenSansSemiBold, Arial, Verdana, sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  .social-analytics .social-category {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) {
  .social-analytics .social-category {
    width: 25%;
    padding: 0;
  }
  .social-analytics .social-category + .social-category {
    padding-left: 15px;
  }
}