@mixin style-button-override($color-bg: "", $color-text: "", $font-size: "", $padding: "") {
	@if ($color-bg != "") {
		background-color: $color-bg;

		&:hover {
			background-color: lighten($color-bg, 5%);
		}
	}
	@if ($color-text != "") {
		color: $color-text;
	}
	@if ($font-size != "") {
		font-size: $font-size;
	}
	@if ($padding != "") {
		padding: $padding;
	}
}

@mixin style-button-base($color-bg: $app--btn-bg-color, $color-hover-bg: $app--btn-hover-bg-color, $color-text: $app--btn-text-color, $size: 14px, $padding: 5px 15px) {
	display: inline-block;
	background-color: $color-bg;
	color: $color-text;
	font-size: $size;
	font-family: $font-open-sans-semi-bold;
	padding: $padding;
	border: 0 none;

	&:hover {
		background-color: $color-hover-bg;
		text-decoration: none;
	}

	/* for full calendar integration */
	&.fc-state-active {
		background-color: $color-hover-bg;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

@mixin style-h1 {
	font-family: $font-open-sans-bold;
	text-transform: uppercase;
	font-size: 20px;
	color: $app--heading-h1-color;
}

@mixin style-h2 {
	font-family: $font-open-sans-bold;
	text-transform: uppercase;
	font-size: 18px;
	color: $app--heading-h2-color;
}

@mixin style-h3 {
	font-family: $font-open-sans-semi-bold;
	text-transform: uppercase;
	font-size: 16px;
	color: $app--heading-h3-color;
}

@mixin style-label {
	font-family: $font-open-sans-semi-bold;
	margin: 5px 0;
}

@mixin style-input {
	color: $app--input-text-color;
	padding: 5px;
	border: solid 1px $app--input-border-color;
}

@mixin style-contentbox {
	background-color: $color-white;
	box-shadow: 0 0 2px lighten($color-grey-55, 25%);
	position: relative;
	padding: 15px;
	margin: 15px 0;

	@include breakpoint($bp-mobile-landscape) {
		padding: 25px;
		margin: 25px 0;
	}
}

@mixin style-message-override($color-text, $color-bg, $color-border, $color-glyph, $glyph: "") {
	padding-left: 40px;
	color: $color-text;
	background-color: $color-bg;
	border-color: $color-border;

	&:before {
		display: block;
		color: $color-glyph;
		content: $glyph;
	}
}

@mixin style-message-base {
	display: block;
	position: relative;
	margin: 5px 0;
	padding: 10px;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid transparent;
	font-family: $font-open-sans-semi-bold;

	&:before {
		position: absolute;
		top: 8px;
		left: 10px;
		font-size: 20px;
		font-family: $font-glyph-lib;
	}
}

@mixin style-message-error-override {
	@include style-message-override(
			$app--message-error-text-color,
			$app--message-error-bg-color,
			$app--message-error-border-color,
			$app--message-error-glyph-color,
			$app--message-error-glyph-entity
	);
	font-weight: bold;
}

@mixin style-message-info-override {
	@include style-message-override(
			$app--message-info-text-color,
			$app--message-info-bg-color,
			$app--message-info-border-color,
			$app--message-info-glyph-color,
			$app--message-info-glyph-entity
	);
}

@mixin style-message-important-override {
	@include style-message-override(
			$app--message-important-text-color,
			$app--message-important-bg-color,
			$app--message-important-border-color,
			$app--message-important-glyph-color,
			$app--message-important-glyph-entity
	);
}

@mixin style-message-success-override {
	@include style-message-override(
			$app--message-success-text-color,
			$app--message-success-bg-color,
			$app--message-success-border-color,
			$app--message-success-glyph-color,
			$app--message-success-glyph-entity
	);
}

@mixin style-message-error {
	@include style-message-base;
	@include style-message-error-override;
}

@mixin style-message-info {
	@include style-message-base;
	@include style-message-info-override;
}

@mixin style-message-important {
	@include style-message-base;
	@include style-message-important-override;
}

@mixin style-standard-table {
	width: 100%;
	box-shadow: 0 0 2px lighten($color-grey-55, 25%);

	th,
	td {
		padding: 10px 15px;
	}

	thead {
		td,
		th {
			background-color: $app--table-headings-bg-color;
			color: $app--table-headings-text-color;
			text-align: left;
		}

		th {
			&.control {
				width: 1px;
				white-space: nowrap;

				.column-label {
					display: inline-block;

					+ .column-visibility {
						margin-left: 5px;
					}
				}

				input[type=checkbox] {
					display: block;
				}

				.column-visibility {
					input[type=checkbox] {
						display: inline-block;
					}
				}
			}
		}

		a {
			color: $app--table-headings-text-color;
		}
	}

	tr {
		td {
			background-color: $app--table-row-odd-bg-color;
		}

		&:nth-child(even) {
			td {
				background-color: $app--table-row-even-bg-color;
			}
		}
	}

	button,
	.btn {
		@include style-button-override($font-size: 12px);
		white-space: nowrap;
		width: 100%;
	}

	.btn + .btn {
		margin-top: $app--btn-spacing-between-btns;
	}


	@include breakpoint($bp-mobile-landscape) {
		.btn {
			width: auto;

			+ .btn {
				margin-top: 0;
				margin-left: $app--btn-spacing-between-btns;
			}
		}
	}

}

@mixin loading-circle-spinner() {
	display: block;
	background: center center transparent url('/_design/shared/loading-logo.svg') no-repeat;
}

@mixin loading-circle-spinner-nosmil() {
	@at-root {
		@keyframes loading-circle-spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	display: block;
	background: center center transparent url('/_design/shared/loading-logo.svg') no-repeat;
	animation: loading-circle-spin 1s infinite linear;
}
