.nav-plus {
	position: relative;

	.nav-collapse {
		.nav-trigger {
			display: block;
			padding: 17px 15px;
			background-color: $app--nav-hamburger-bg-color;
			box-shadow: 0 0 2px lighten($color-grey-55, 25%);

			&:hover {
				background-color: $app--nav-hamburger-hover-bg-color;
				cursor: pointer;
			}

			.line {
				display: block;
				height: 2px;
				width: 36px;
				background-color: $app--nav-hamburger-line-color;

				+ .line {
					margin-top: 5px;
				}
			}
		}
	}

	.menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.mi {
		&.last {
			border-bottom: none;
		}

		&.mi-active {

		}
	}

	.menuitemlabel {
		color: $app--nav-link-color;
		font-family: $font-open-sans-bold;
		font-size: 16px;
		text-transform: uppercase;
		display: block;
		padding: 10px 0;

		&:hover {
			text-decoration: none;
			color: $app--nav-link-hover-color;
		}
	}

	@include breakpoint($bp-desktop) {
		.nav-collapse {
			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;

			.nav-trigger {
				display: none;
			}

			.collapsible-shown {
				display: block !important;
			}
		}

		.mi {
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			&.over,
			&.mi-active,
			&:hover {
				.menuitemlabel {
					color: $color-white;

					&:after {
						height: 10px;
					}
				}
			}
		}

		.menuitemlabel {
			color: $color-grey-bb;
			position: relative;
			padding: 15px 0;

			&:after {
				content: "";
				display: block;
				background-color: $color--theme-accent;
				position: absolute;
				transform: translate(-50%);
				height: 0;
				left: 50%;
				width: 25px;
				bottom: 0;
				z-index: 1;
				border-radius: 1px;
				transition: all 150ms;
			}
		}

		.mil {
			position: relative;
			z-index: 2
		}
	}
}