.search-bar,
.section {
    background: transparent;
    box-shadow: none;

    label {
        font-family: $font-open-sans;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .wrapper {
        border-top: 1px solid $color-grey-aa;
        padding-top: 5px;
        display: block;
        max-height: 30px;
        overflow: hidden;
        position: relative;

        + .wrapper {
            margin-top: 15px;
        }

        &.shown {
            max-height: 500px;

            &:after {
                border-top: none;
                border-bottom: 7px solid $color-grey-62;
            }
        }

        &:after {
            content: '';
            border-top: 7px solid $color-grey-62;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            height: 0;
            width: 0;
            display: block;
            position: absolute;
            right: 5px;
            top: 13px;
        }

        .section-label {
            display: block;
            font-family: $font-open-sans-semi-bold;
            color: $color-grey-aa;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
        }
    }

    @include breakpoint($bp-mobile-landscape) {
        padding: 0;
    }

    @include breakpoint($bp-tablets-landscape) {
        .wrapper {
            max-height: 2000px;
            display: inline-block;
            vertical-align: middle;
            border-left: 1px solid $color-grey-aa;
            border-top: 0;
            padding-top: 0;
            padding-left: 30px;
            overflow: visible;

            &:after {
                display: none;
            }

            &.shown:after {
                display: none;
            }

            .section-label {
                cursor: auto;
                transform: rotate(-90deg);
                display: block;
                position: absolute;
                left: 5px;
                bottom: -3px;
                width: 10px;
            }

            &.user .section-label {
                bottom: 2px;
            }

            &.locale .section-label {
                bottom: -7px;
            }
        }
    }
}


.search {
    .constraints,
    .search-actions {
        display: block;
    }

    @include breakpoint($bp-mobile-landscape) {
        .constraints,
        .search-actions {
            display: block;
        }
    }

    @include breakpoint($bp-tablets-landscape) {
        .constraints,
        .search-actions {
            display: inline-block;
            vertical-align: bottom;
        }
    }
}