
body {
	font-family: $font-open-sans;
	font-size: $font-default-size;
	color: $color-grey-33;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#e-column-0 {
	padding: 15px 15px 80px;
	position: relative;

	@include breakpoint($bp-mobile-landscape) {
		padding: 25px 25px 80px;
	}
}

.l-header {
	box-shadow: 0 0 2px lighten($color-grey-55, 25%);

	@include breakpoint($bp-desktop) {
		padding: 10px $spacing-horizontal-desktop;

		.box-wc {
			display: table;
			width: 100%;
		}
	}
}

// Header area styles
.logo {
	padding: 0 15px;
	text-align: center;

	img {
		max-width: 250px;
		height: auto;
	}

	@include breakpoint($bp-desktop) {
		text-align: left;
		padding-left: 0;
		padding-right: 0;
		display: table-cell;
		vertical-align: middle;
	}
}

.nav-plus {
	position: relative;

	.nav-collapse {
		.nav-trigger {
			display: block;
			padding: 15px;
			background-color: $color-accent;
			box-shadow: 0 0 2px lighten($color-grey-55, 25%);
			&:hover {
				background-color: darken($color-accent, 5%);
				cursor: pointer;
			}
			.line {
				display: block;
				content: "";
				height: 2px;
				width: 36px;
				margin: 5px;
				background-color: $color-contrast;
			}
		}
	}

	.menu ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		.mi {
			border-bottom: 1px solid $bg-body;
			&.last {
				border-bottom: none;
			}
			.menuitemlabel {
				color: $color-accent;
				font-family: $font-open-sans-bold;
				font-size: 16px;
				text-transform: uppercase;
				display: block;
				padding: 10px 0;
				&:hover {
					text-decoration: none;
					color: lighten($color-accent, 5%);
				}
			}

			&.mi-active,
			.menuitemlabel:hover {
				.mil {
					border-bottom: 1px solid $color-accent;
				}
			}
		}
	}

	.logout {
		position: absolute;
		top: 0;
		right: 0;

		.btn.logout-url {
			background-image: url(/_resources/dyn/files/21507z2032e2af/_fn/LogOut.png);
			background-repeat: no-repeat;
			background-position: center center;
			display: block;
			position: relative;
			height: 50px;
			width: 50px;
		}

		.logout-url-text {
			display: none;
		}
	}

	@include breakpoint($bp-desktop) {
		display: table-cell;
		vertical-align: middle;
		text-align: right;

		.nav-collapse {
			display: inline-block;
			vertical-align: middle;

			.nav-trigger {
				display: none;
			}

			.collapsible-shown {
				display: block !important;
			}
		}

		.menu .menu-t1 {
			.mi {
				display: inline-block;
				vertical-align: middle;
				border-bottom: none;

				.menuitemlabel {
					padding: 10px 25px 10px 0;
				}
			}
		}

		.logout {
			display: inline-block;
			vertical-align: middle;
			position: relative;
		}
	}
}

.l-footer {
	text-align: center;
	padding: 15px;

	&:empty {
		display: none;
	}

	p {
		margin: 0;
	}
}