@include fontFace('OpenSans', '/OpenSans', 'opensans-regular-webfont');
@include fontFace('OpenSansBold', '/OpenSans', 'opensans-bold-webfont');
@include fontFace('OpenSansSemiBold', '/OpenSans', 'opensans-semibold-webfont');

@import "../../libs/normalize";

@import "../../components/partials/base-components";
@import "../../components/partials/messages";
@import "../../components/partials/buttons";


html, body, div.page {
	height: 100%;
}

.e-wrapper {
	position: relative;
	min-height: 100.0%;
	background: repeat-x center bottom 50px $landing--bg-color;
	background-image: $landing--bg-image;
	text-align: center;
}

.e-content {
	display: block;
	width: 320px;
	margin: 0 auto;
	padding-bottom: $app--footer-height;
}

.l-header {
	padding-top: 50px;
}

.l-footer {
	height: $app--footer-height;
	margin-top: -$app--footer-height;
	text-align: center;
	color: $app--footer-text-color;
	@include clearfix(true);

	&:empty {
		display: none;
	}
}

input {
	width: 100%;
}

.login {
	text-align: center;

	.title,
	label {
		display: none;
	}

	.field {
		margin: 15px 0;

		input {
			padding: 15px;
			text-align: center;
		}
	}

	.btn {
		@include button-override($font-size: 16px, $padding: 15px);
	}
}

// retrieve password styles
.retrieve-password  {
	span.email {
		display: block;
		font-family: $font-open-sans-bold;
		text-align: left;
	}

	button {
		@include button-base;
		margin-top: 15px;
		width: 100%;
	}
}


.logout {
	.username {
		display: inline-block;
		vertical-align: middle;
	}

	span.logout-url {
		background: $app--logout-image no-repeat center center;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		position: relative;
		height: 36px;
		width: 36px;

		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-indent: 4000em;
		}
	}
}

// Styles for product specialist landing
.td-director {
	margin-top: 15px;

	.prop-header {
		@include h2;
	}

	label {
		@include label;
		display: block;
	}

	input {
		@include input;
		width: 100%;
	}

	button {
		margin-top: 15px;
		width: 100%;
	}
}