@import "../../config/themes/_tabitha";
@import "../../config/_base-import";

@import "../_definitions/_page--dashboard-new";

.number-display {
    .percent-sign {
        margin-left: 1px;
        margin-top: 0;
    }
}

.total-interactions {
    .number-display {
        display: inline-block;

        .data-label {
            margin-top: 0;
            font-size: 17px;
        }

        .data-value {
            font-size: 32px;
        }

        .data-description {
            margin-top: 7px;
            font-size: 14px;
        }
    }

}

.interactions-per-region .number-display {
    display: inline-block;
    width: 15%;
}

.question-summary-container .column-chart,
.interactions-per-region .bar-chart {
        display: inline-block;
        width: 84%;
        vertical-align: top;
}

.dashboard-section.referral-process-summary,
.dashboard-section.cs-referral-summary {
    margin-top: 0;
}

.dashboard-content-combo.question-content-combo,
.dashboard-content-combo.roles-suggestions-summary {
    .dashboard-section {
        display: inline-block;
        margin-bottom: 0;
        //Stupid thing
        width: 49%;

        & + .dashboard-section {
            float: right;
        }
    }
}

.dashboard-content-combo.roles-suggestions-summary .pie-chart {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0;
}

.dashboard-component-container {
    display: inline-block;
    width: 15%;
    vertical-align: top;

    .number-display {
        width: auto;
        opacity: 0.25;
        transition: opacity .25s linear;
        &:hover {
            opacity: 1;
        }
    }
}