@import "../../config/themes/_tabitha";
@import "../../config/_base-import";

@import "../_definitions/_page--dashboard-new";

.number-display {
    .percent-sign {
        margin-left: 1px;
        margin-top: 0;
    }
}

.total-interactions {
    .number-display {
        display: inline-block;

        .data-label {
            margin-top: 0;
            font-size: 17px;
        }

        .data-value {
            font-size: 32px;
        }

        .data-description {
            margin-top: 7px;
            font-size: 14px;
        }
    }

}

.question-summary-container {

    .number-display {
        display: inline-block;
        width: 15%;
        vertical-align: top;
    }

    .column-chart {
        display: inline-block;
        width: 84%;
        vertical-align: top;
    }
}

.dashboard-content-combo.question-content-combo {
    .dashboard-section {
        display: inline-block;
        margin-bottom: 0;
        //Stupid thing
        width: 49%;

        & + .dashboard-section {
            float: right;
        }
    }
}